/*
Syntax error: Undefined variable: "$border-color".
        on line 16 of /home/bbeecher/workspace/tutelage/media/scss/local_navbar.scss

Backtrace:
/home/bbeecher/workspace/tutelage/media/scss/local_navbar.scss:16
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/script/variable.rb:49:in `_perform'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/script/node.rb:40:in `perform'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/script/list.rb:70:in `block in _perform'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/script/list.rb:70:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/script/list.rb:70:in `_perform'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/script/node.rb:40:in `perform'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:296:in `visit_prop'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.3/lib/sass/engine.rb:262:in `render'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/bin/compass:44:in `call'
/home/bbeecher/.gem/ruby/1.9.1/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/usr/bin/compass:23:in `load'
/usr/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$border-color\".\A         on line 16 of /home/bbeecher/workspace/tutelage/media/scss/local_navbar.scss"; }
