/* Navbar */
.box {
  height: 55px;
  width: 55px;
  padding: 5px 5px 5px 5px;
}

.box p {
  font-weight: bold;
}

.nav-icon {
  height: 27px;
}

div.header {
  height: 60px;
  width: 489px;
}

/*  overwriting some of the base bootstrap */
.navbar .divider-vertical {
  height: 100% !important;
  background-color: #eee !important;
  border: 0px !important;
  width: 2px;
}

.nav {
  height: 55px !important;
}

.navbar {
  margin-top: 15px !important;
  color: black !important;
}

.navbar-inner {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065) !important;
  border-radius: 0px !important;
  border: 0px !important;
  background-color: white;
}
