{% extends 'base.html' %}
{% load mezzanine_tags %}
{% block content %}
{% autoescape off %}
<div class="row main bordered">
    <div class="span6">
      <div class="colored_header">
        {% editable page.about.blockone %}
        {{page.about.blockone}}
        {% endeditable %}

      </div>
    </div>
    <div class="span6">
      <div class="main-movie">
        {% editable page.about.hero %}
        <img src={{MEDIA_URL}}{{page.about.hero}} />
        {% endeditable %}

      </div>
    </div>
</div>
<div class="row main bordered">
    <div class="span6">
      <div class="colored_header">
        {% editable page.about.blocktwo %}
        {{page.about.blocktwo}}
        {% endeditable %}
      </div>
    </div>
    <div class="span6">
      <div class="colored_header">
        {% editable page.about.blockthree %}
        {{page.about.blockthree}}
        {% endeditable %}
      </div>
    </div>
</div>
  {% endautoescape %}
  {% endblock %}
