{% extends 'base.html' %}

{% block content %}
{% autoescape off %}
<div class="bordered-row main bordered">
    <div class="span6">
      <div class="colored_header">
        <h3>Chef <a href="#">[firstname] [lastname]</a></h3>
        
        
        <br />
        
        <div class="user-bio user-photo">
		  <img src={{MEDIA_URL}}{{page.home.hero}} />
		</div>
		<span>Lnrem ipsum dolor sit arnet, Consectetur adipiscing eIitAenean ornare mattia magna, quis portlitor dolor ultriciessit ar</span>
      </div>
      
	  <br />
	  
	  <div class="social-media">
		<h4>More About Me</h4>
			  
		<div class="row">
		  <div class="span3">
			<a href="#">Where I Cook</a>
			<a href="#">Personal Website</a>
		  </div>
		  
		  <div class="span3">			  
	        <div class="social-media-icons">
			  <img src="../media/img/fb_icon" />
			  <img src="../media/img/tw_icon" />
			  <img src="../media/img/gp_icon" />
			  <img src="../media/img/pin_icon" />
			</div>
		  </div>
		</div>
	  </div>
	  
        <br />
        
        <div class="row"> 
		  <div class="span6">
			<h4>Specialties</h4>
			<a class="btn btn-clearblue btn-tags">Seafood</a>
			<a class="btn btn-clearblue btn-tags">Gluten-free</a>
			<a class="btn btn-clearblue btn-tags">Japanese</a>
			<a class="btn btn-clearblue btn-tags">Snacks</a>
			<a class="btn btn-clearblue btn-tags">Salads</a>
			<a class="btn btn-clearblue btn-tags">Brunch</a>
			<a class="btn btn-clearblue btn-tags">Cocktails</a>
			<a class="btn btn-clearblue btn-tags">Low-sodium</a>
		  </div>
		</div>
    </div>
    
    <div class="span6">
      <div class="colored_header">
        <div class="main-movie">
          <img src={{MEDIA_URL}}{{page.home.hero}} />
        </div>
      </div>
 
      <br />
        
      <br />
		
		<div class="row">  
		  <div class="span6">
			<div class="testimonial testimonial-left">
				  <p>This chef is so amazing my tongue can't withstand food for mere mortals anymore.</p>
				  <span><small>Chef <strong class="green">Jack Jackson</strong></span></small>
			</div>
			<div class="testimonial testimonial-right pull-right">
				  <p>I used to be normal. Now I'm extraordinary, all thanks to this wonderful chef!</p>
				  <span class="pull-right"><small>Chef <strong class="green">Jane Janet</strong></span></small>
			</div>
			
			<div class="testimonial testimonial-left">
				  <p>This chef is so amazing my tongue can't withstand food for mere mortals anymore.</p>
				  <span><small>Chef <strong class="green">Jack Jackson</strong></span></small>
			</div> 
		  </div>
		 
		</div>
      </div>
    </div>   
</div>  

<div class="bordered-row bordered">
    <div class="span6">        
        <div class="colored_header">
          <h4>Lessons Taught</h4>
        </div>
    </div>
    
    <div class="span6">        
        <div class="colored_header">
          <h4>Active Requests</h4>
        </div>
    </div>
</div>  
        
<div class="bordered-row bordered lessons">

    <div class="span6 lesson">
 	  <div class="row">
		  <div class="span5 green lesson-title">
			<h3>{{lesson.title}}</h3>
		  </div>
		  <div class="span1">
			<h3 class="pull-right">${{lesson.price|default_if_none:"0"}}</h3>
		  </div>
      </div>

      <div class="row">
		<div class="span2 offset4 lesson-author">by <a href="#">{{lesson.teacher}}</a></div>
      </div>
      <hr/>
      <div class="row">
		<div class="span3 lesson-tile-left">
		  <img src={{MEDIA_URL}}{{page.home.hero}} />
		</div>
        <div class="span3">
		  <a class="btn btn-blue">Preview</a>
		  <a class="btn btn-green pull-right">Purchase</a>
		</div>
      </div>
      <hr/>
	  <div class="row">
        <div class="span3">
		  <video width="100%" src={{MEDIA_URL}}{{lesson.video}} />
        </div>
		<div class="span3 lesson-tile-right">
			<p><small>{{lesson.flavor_text}}</small></p>
			<ul class="recipe-info">
              <li>Serves: 4</li>
			  <li>Prep Time: 15 minutes</li>
			  <li>Cooking Time: 35 minutes</li>
            </ul>
		</div>
      </div>

	  <div class="row">
		  <div class="span6">
			<h4>Specialties</h4>
			<a class="btn btn-clearblue btn-tags">Seafood</a>
			<a class="btn btn-clearblue btn-tags">Gluten-free</a>
		  </div>
      </div>
    </div>
    
    <div class="span6 request">
    </div>
</div>       
  {% endautoescape %}
  {% endblock %}
