{% extends 'base.html' %}
{% load mezzanine_tags %}

{% block content %}
{% autoescape off %}
<div class="row main">
  <div class="span4">
    <div class="call-to-action">
      {% editable page.home.call_to_action %}
      <h3>{{page.home.call_to_action}}</h3>
      {% endeditable %}
    </div>
    {% if not request.user.is_authenticated %}
    <a class="btn btn-primary signup-btn">Signup</a>
    {% endif %}
  </div>
  <div class="span8">
    <div class="main-movie">
      {% editable page.home.hero %}
      <img class="main-movie-img" src="{{STATIC_URL}}img/launchimg.png" />
      <!-- commenting out sharing functionality for private alpha
      <img class="addthis_shareable main-movie-img" src="{{MEDIA_URL}}{{page.home.hero}}" /> -->
      {% endeditable %}
    </div>
  </div>
  
  <div class="span12">
    <hr class="home-hr" />
  </div>  
</div>

<div class="row main">
  <div style="clear:both;">
    <div class="homelinks">
      {% with page.home.blocks.all as blocks %}
      {% for b in blocks %}
      {% editable b.header b.body b.link_copy b.link_target %}
      
      {% if forloop.counter = 2 %}
      <div class="span6 block-body block-body-right">
      {% else %}
      <div class="span6 block-body">
      {% endif %}
        <a class="" href="{{b.link_target}}">
          <div class="block-link">
          {% if forloop.first %}
          <img class="block-image" src="{{STATIC_URL}}img/hero-lessons.png" />
          {% else %}
          <img class="block-image" src="{{STATIC_URL}}img/hero-taste-experts.png" />
          {% endif %}
          <span class="block-image-text">{{b.link_copy}}</span>
          </div>
        </a>
        <div class="block-text">
        {{b.body}}
        </div>
      </div>
      {% endeditable %}
      {% endfor %}

    </div>
  </div>
</div>
<!-- this should likely be moved somewhere else -->
<div class="row no-display">
  <div class="main-movie-video no-margin" controls="controls" preload="auto">
	<iframe width="608" height="342" src="" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


<script type="text/javascript">
pagelogic = function(){
        $(".main-movie-img").click(function() {
            $(".main-movie-img").hide();
            $(".main-movie-video").appendTo(".main-movie");
            $(".main-movie-video iframe").attr('src','http://www.youtube.com/embed/jdB7pXLCFaQ?autoplay=1');
            //$(".main-movie-video").get(0).play();
        });
        //$(".main-movie-img").colorbox({inline:true, width:"50%", href:".main-movie-video"});
};
</script>


{% endwith %}
{% endautoescape %}
{% endblock %}