{% extends 'base.html' %}
{% load mezzanine_tags %}

{% block content %}
{% autoescape off %}
<div class="bordered-row main bordered">
    <div class="span6">
      <div class="call-to-action">
        {% editable page.home.call_to_action %}
        <h3>{{page.home.call_to_action}}</h3>
        {% endeditable %}
      </div>
      {% if not request.user.is_authenticated %}
      <a class="btn btn-green pull-right signup-btn">Signup</a>
      {% endif %}
    </div>
    <div class="span6">
      <div class="main-movie">
        {% editable page.home.hero %}
        <img src="{{MEDIA_URL}}{{page.home.hero}}" />
        {% endeditable %}
      </div>
    </div>
</div>
<div class="bordered-row bordered">
    <div class="homeblocks">
      {% with page.home.blocks.all as blocks %}
      {% for b in blocks %}
      {% editable b.header b.body b.link_copy b.link_target %}

      <div class="span4 homeblock">
        <div class="block-header">
          <h3>{{b.header}}</h3>
        </div>
        <div class="block-body">
          {{b.body}}
        </div>
      </div>
      {% endeditable %}
      {% endfor %}
    </div>
    <div style="clear:both;">
    <div class="homelinks">
      {% for b in blocks %}
      <div class="span4 block-link">
        <a class="btn btn-green" href="{{b.link_target}}">
          {{b.link_copy}}
        </a>
      </div>
      {% endfor %}

    </div>
</div>
  {% endwith %}
  {% endautoescape %}
  {% endblock %}
