{% extends 'base.html' %}
{% block content %}
<div class='wrapper'>
  <div class="hero-unit">
  <span class="lead">
      {{page.home.call_to_action}}
  </span>
  <span class="hero">
      <img src={{page.home.hero}} />
  </span>
  </div>
  {% include "searchbar.html" %}
  <span class="homeblocks">
      {% for block in page.home.blocks.all %}
      <span class="block">
          <span class="block-header">
              {{block.header}}
          </span>
          <span class="block-body">
              {{block.body}}
          </span>
          <span class="block-link">
              <a href="{{block.link_target}}">
                  {{block.link_copy}}
              </a>
          </span>
      </span>
      {% endfor %}
  </span>
</div>
{% endblock %}
