{% extends 'base.html' %}

{% block content %}
{% autoescape off %}
<div class="bordered-row main bordered">

    <div class="span12">		
	  <div class="profile-btn">
	    <a class="btn btn-darkgray btn-profile">
		  account
		</a>
		<a class="btn btn-lightgray btn-profile pull-right">
		  tutoring
		</a>
	  </div>
	</div>
	
  <div class="span12">
	<div class="row">
	  <hr class="profile-hr" />
	</div>
	
	<div class="row">
	  <div class="span8">
		<h3 class="colored-header">[username]'s Wallet</h3>
	  </div>
	  
	  <div class="span4 pull-right">
		<a class="btn btn-green btn-save pull-right">
		  save
		</a>
	  </div> 
	</div>
	
	<div class="row">
	  <div class="span6">

		<div class="user-balance">
		  <h5>My Wellganic Balance</h5>
		  <h3>$10.00</h3>
		</div>
		  
		<div class="balance-actions">
		  <a class="btn btn-green">
			Add
		  </a>
		  <a class="btn btn-green">
			Withdraw
		  </a>
		</div>
	  </div>
	</div>
		
	<div class="row">
	  <div class="span12">
	    <hr />
	  </div>
	</div>
	
	<div class="row">
	  <div class="span12">
		<h3 class="colored-header">[username]'s Profile</h3>
	  </div>
	</div>
 
	<div class="row">
	  <div class="span6">

		<div class="user-photo">
		  <img src={{MEDIA_URL}}{{page.home.hero}} />
		  <a class="btn btn-green ">
		  ...
		  </a>
		</div>
		  
		<div class="user-profile-form">
		  <form class="profile-form" target="" action="post"> 
		    <div id="aboutme">
			  <h5>About Me (300 characters or less)</h5>
			  <textarea class="profile-input profile-input-desc"></textarea>
		    </div>
		    <div id="firstname">
			  <h5>First Name</h5>
			  <input class="profile-input" type="text" placeholder="">
			</div>
			<div id="lastname">
		   	  <h5>Last Name</h5>
			  <input class="profile-input" type="text" placeholder="">
			</div>
			<div id="email">
			  <h5>Email</h5>
			  <input class="profile-input" type="text" placeholder="">
			</div>
		  </form>
		</div>
	  </div>	

	  <div class="span6">

		<div id="profile-user-type">
		  <h5>Account Type</h5>
		  <a class="btn btn-blue ">
		  Chef
		  </a>
		</div>

		<br />
		
		<div class="profile-user-skill">
		  <h5>Skill Level</h5>
		  <a class="btn btn-clearblue btn-user-skill">
		  Novice
		  </a>
		  <a class="btn btn-blue btn-user-skill">
		  Intermediate
		  </a>
		</div>
		
		<div class="profile-user-skill">
		  <a class="btn btn-clearblue btn-user-skill">
		  Advanced
		  </a>
		  <a class="btn btn-clearblue btn-user-skill">
		  Professional
		  </a>
		</div>
		
		<br />
		
		<div id="profile-password-change">
		  <h5>Password</h5>
		  <a class="btn btn-blue ">
		  Change
		  </a>
		</div>
		

		
	  </div>	
	</div>
  </div>
</div>


  {% endautoescape %}
  {% endblock %}
