.comment_roll_widget {
}

.comment_roll_widget .comment_display {
}

.comment_roll_widget .comment_display ul {
	display:	none;
	list-style:	none;
	margin:		0px;
	padding:	0px;
}

.comment_roll_widget .comment_display ul:first-child {
	display:	inline-block;
}

.comment_roll_widget .comment_display ul li {
	display:	inline-block;
}

.comment_roll_widget a,
.comment_roll_widget .comment_display ul li.user,
.comment_roll_widget .comment_display ul li.date {
	color:		#02a64f;
	text-decoration:	none;
}

.comment_roll_widget .comment_display ul li.user {
	font-weight:	bold;
	float:		left;
}

.comment_roll_widget .comment_display ul li.date {
	float:		right;
}

.comment_roll_widget .comment_display ul li.comment {
}

.comment_roll_widget .comment_control {
}

.comment_roll_widget .comment_control .comment_next_button {
	display:		inline-block;
	display:		none;
	float:			right;
        width:                  80px;
        border:                 1px solid black;
        margin-left:            5px;
        margin-right:           5px;
        border-radius:          5px;
        -webkit-border-radius:  5px;
        background:             -webkit-linear-gradient(top, white, cyan);
        background:             linear-gradient(top, white, cyan);
}

