.temp_time_widget
{
	text-align:	center;
	display:	inline-block;
	background:	blue;
}

.temp_time_widget .temp_widget {
	display:	block;
	background:	red;
}

.temp_time_widget .temp_widget div {
	display:	block;
	background:	yellow;
}

.temp_time_widget .temp_widget div div {
	display:	inline-block;
	background:	green;
}

.temp_time_widget .time_widget {
	display:	block;
	background:	red;
}

.temp_time_widget .time_widget div {
	display:	block;
	background:	yellow;
}

.temp_time_widget .time_widget div div {
	display:	block;
	background:	green;
}

.temp_time_widget .time_widget div div div {
	display:	inline-block;
	background:	pink;
}

