@font-face {
	font-family:	HelveticaNeue-Light;
	src:			url('HelveticaNeue-Light.otf');
}

body * {
	font-family:	arial, helvetica;
	/*font-family:	HelveticaNeue-Light;
	font-size:		8pt;*/
	margin:			0;
	padding:		0;
	color: white;
	text-shadow:
		/*0 0  1px green,
		0 0  2px green,
		0 0  4px green;	
		0 0  1px white,
		0 0  2px white,
		0 0  4px white;*/
		/*0 0  8px white,
		0 0 16px white;*/
	overflow:		hidden;
}

body a {
    color:          	#02a64f;
	text-decoration:	none;
}

#video {
display: none;
display: inline-block;
    position: 		absolute;
    top: 			0;
    bottom: 		0;
    left: 			0;
    right: 			0;
    width: 			980px;
    height: 		620px;
	margin-left:	auto;
	margin-right:	auto;
	z-index:		-2;
	opacity:		1;
	background-color:	black;
}

#video object {
	width:			980px;
	height:			620px;
	position: 		absolute;
    top: 			0;
    bottom: 		0;
    left: 			0;
    right: 			0;
	z-index:		-2;
	opacity:		1;
	background-color:	black;
}

#wrapper {
    position: 		absolute;
    top: 			0;
    bottom: 		0;
    left: 			0;
    right: 			0;
    width: 			980px;
    height: 		620px;
	margin-left:	auto;
	margin-right:	auto;
}

#page_header {
	width:			980px;
	height:			54px;
	margin:			0px auto;
	z-index:		4;
}

/*
#tutelage_logo {
	background-image:		url('../img/tutelage_top_banner.png');
	width:				980px;
	height:				61px;
	position:			absolute;
	margin-left:		0px;
}

#navigation {
	background-color:	#333;
	display:			inline-block;
	width:				780px;
	height:				54px;
	float:				right;
}

#navigation a {
	color:			white;
	text-decoration:	none;
	position:		relative;
	top:			-3px;
}

#navigation img {
	height: 20px;
	width: 20px;
}

#navigation li {
	display:			inline-block;
	list-style-type:	none;
	font-size:			2.5em;
	font-weight:		bold;
	text-align:			left;
	vertical-align:		bottom;
	height:				40px;
	padding-top:		10px;
	float:				left;
	padding-right:		12px;
}

#navigation li:last-child {
	padding-left:		63px;
	width:				190px;
	float:		right;
}

#navigation li:after {
	color:		white;
	content:	"|";
	padding-left:	15px;
}

#navigation li:first-child {
	padding-left:	18px;
}

#navigation li:last-child:after {
	content:	"";
}

a.nav_names {
	font-size:0.6em;
	color: white;
}
*/

#page_body {
	background:		transparent;
	/* position:		relative; */
	width:			980px;
	height:			566px;
	padding-top:	0px;
	margin-left:	auto;
	margin-right:	auto;
	font-size:		14px;
	z-index:		3;
}

#left_panel1 > div,
#left_panel2 > div {
	background-color:	rgba(0,0,0,0.7);
	padding-left:		20px;
/*	padding-bottom:		12px;
	margin-bottom:		12px; 
	border-bottom:		1px solid #333; */
}



#left_panel > div:last-child,
#bottom_panel > div:last-child,
#right_panel > div:last-child {
	margin-bottom:		0px;
	border-bottom:		none;
}

#left_panel {
	display:		inline-block;
	width:			340px;
	height:			450px;
	float:			left;
	overflow-x:		hidden;
	overflow-y:		hidden;
}

#left_panel h1 {
	font-size:		1.5em;
	color:          #02a64f;
}

#left_panel > div {
background-color: rgba(0, 0, 0, 0.7);
}

/*
#left_panel1 {
	display:		inline-block;
	width:			370px;
	height:			150px;
	float:			left;
}

#left_panel1 h1 {
	font-size:		1.5em;
	color:          #02a64f;
}

#left_panel2 {
	display:		inline-block;
	width:			370px;
	height:			180px;
	float:			left;
	border-top:		10px solid transparent;
}

#left_panel2 h1 {
	font-size:		1.5em;
	color:          #02a64f;
}
*/

#categories {
	z-index: 		2;
	opacity:		1;
	padding: 		0px; 	
	color: 			white; 
	font-weight: 	bold;

}

#categories #category_subject ul,
#categories #category_learning_style ul,
#categories #category_tags ul {
	display:		inline-block;
}

#categories #category_subject li,
#categories #category_learning_style li,
#categories #category_tags li {
	display:		inline-block;
	list-style-type:	none;
}

#categories #category_subject {
}

#categories li:before {
	content:		", ";
}


#categories #category_subject li:before {
	content:		"";
}


#categories #category_subject li:first-child:before,
#categories li:first-child:before {
	content:		"";
	font-weight:		bold;
}

#categories #category_subject li:last-child {
	color:			#02a64f;
	font-weight:		bold;	
}

#categories #tags_title {
	margin-top: 5px;
	margin-bottom: 10px;
}

#categories #category_learning_style {
	font-weight:		bold;
	color:				#02a64f;
}

#categories #category_learning_style .main {
	font-weight:		bold;
}

#categories #category_tags {
	font-weight:		bold;
	color:				#02a64f;
}

#lesson_title {
	padding:		0;
}

#lesson_title h1 {
	font-size:		2.0em;
	padding:		0;
}

#rating {
	border-bottom:	10px solid transparent;
	z-index:		2;
}

#text {
	padding: 		10px;
	/*float:			left;*/
}

#text h1 {
	font-size:		1.2em;
	color:          #02a64f;
}

#directions {
	font-size:		1.2em;
}

#central_panel { 
	display:		inline-block;
	width:			235px;
	height:			350px;
}

#right_panel { 
	display:		inline-block;
	float:			right;
}

#right_panel > div {
	background-color:	rgba(0,0,0,0.7);
	padding:			10px;
}

#right_panel h2 {
	font-size:		1.5em;
	margin-bottom:	15px;
}

#links {
	border-bottom:	10px solid transparent;
	overflow-x:		hidden;
	overflow-y:		hidden;
}

#links h2 {
	color:	black;
}

#bottom_panel {
	padding-top:		40px;
}

h1.step_numbers {
	font-weight: 		bold;
	font-size: 			1.5em;
	padding-bottom:		0px;
}

/*
#ing_title  {
	position:	absolute;
	opacity:	0.5;
	font-size:	2.8em;
	z-index:	1;
}

*/
#ing_tools {
	position:	relative;
	width:		320px;
}

#ingredients, #tools{
	margin-top:		10px;
}


#bottom_panel #timeline {
	background-color: rgba(0, 0, 0, 0.7);
	position:		relative;
	border:			0;
	width:			980px;
	height:			80px;
	margin-top:		0px;
	margin-bottom:	0px;
	margin-left:	auto;
	margin-right:	auto;
	padding-right:	0px;
	padding-bottom:	0px;
}

#tool_panel {
	position:	relative;
	height:		95px;
	width:		950px;
}

#tool_title  {
	position:	absolute;
	opacity:	0.5;
	font-size:	2.8em;
	z-index:	1;
}

#ingredients a,
#tools       a {
	display:			inline-block;
	text-decoration:	none;
	color:				black;
	margin-left:		50px;
	margin-right:		50px;
	border-top:			5px solid transparent;
	border-bottom:		5px solid transparent;
}

#ingredients img {
	display:		inline-block;
	border:			2px solid #02a64f;
	height:			35px;
	width:			35px;
	vertical-align:	middle;
}
#tools img {
	display:		inline-block;
	border:			2px solid blue;
	height:			35px;
	width:			35px;
	vertical-align:	middle;
}

.lessonimages {
	position: relative;
	/*float:	right;*/
}

#ingredients .caption,
#tools       .caption {
	background:		transparent;
	position:		absolute;
	text-align:		left;
	font-weight:		bold;
}

#ingredients > div,
#tools       > div {
	display:		block;
	height:			50px;
	width:			320px;
}

#ingredients .caption,
#tools       .caption {
	display:		block;
	width:			57px;
	font-size:		10pt;
	font-weight:		normal;
}

/*
#ingredients .default img,
#tools       .default img {
	border:			2px solid #02a64f;
}


#ingredients .pie_crust img,
#tools       .pie_crust img {
	border-color:		orange;
}

#ingredients .margarine img,
#tools       .margarine img {
	border-color:		yellow;
}

#ingredients .green_onion img,
#tools       .green_onion img {
	border-color:		green;
}

#ingredients .flour img,
#tools       .flour img {
	border-color:		purple;
}

#ingredients .salt img,
#tools       .salt img {
	border-color:		blue;
}

#ingredients .pepper img,
#tools       .pepper img {
	border-color:		black;
}

#ingredients .milk img,
#tools       .milk img {
	border-color:		yellow;
}

#ingredients .chicken_broth img,
#tools       .chicken_broth img {
	border-color:		red;
}

#ingredients .chicken_shredded img,
#tools       .chicken_shredded img {
	border-color:		blue;
}

#ingredients .vegetables_mixed img,
#tools       .vegetables_mixed img {
	border-color:		green;
}

#ingredients .chicken_pot_pie img,
#tools       .chicken_pot_pie img {
	border-color:		red;
}
*/

a span {	
	/*display:none;
	display:block;
	position:absolute;
	white-space:nowrap;
	top:-20px;*/
	color: #02A64F;
	font-weight: bold;
	margin-left:	20px;
	width:			150px;
	}

