.slider { 
	position:relative; 
	cursor:pointer;
	height:1px;
	border:2px solid #00118E;	
	width:480px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

.progress {
	background-color:#00118E;
	height:3px;
	position:absolute;
	width:0;
}

.handle { 
	border:1px solid #cfcfcf;
	background-color:#fff;
	height:20px;
	width:20px;
	position:absolute; 
	top:-12px;
	display:block;
	cursor:move;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
}

.handle:active {
	background:blue;		
}

.range {
/*
	display:none;
 */
}

.range:focus {
	background-color:#333;
	color:#fff;	
}

.handle:hover {
	background-image:none;			
}

a.handle:active {
	background-color:#3CB2FB;
}

