/*** Temperature / Timer Widget ***/
.temp_time_widget
{
	width:		220px;
	height:		248px;
	display:	inline-block;
	text-align:	center;
}

.temp_time_widget .prompt {
	font-weight:	bold;
	color:		black;
}

.temp_time_widget .details {
	font-weight:	bold;
	color:		red;
}

.temp_time_widget .temp_widget > .display,
.temp_time_widget .time_widget > .display {
	display:		block;
	height:			57px;
}

.temp_time_widget .icon {
	width:			53px;
	height:			53px;
}

.temp_time_widget .icon img {
	display:		inline-block;
	width:			51px;
	height:			51px;
	border:			1px solid black;
}

.temp_time_widget .temp_widget,
.temp_time_widget .time_widget {
	text-align:		left;
	height:			55px;
}

.temp_time_widget .temp_widget > .display .icon,
.temp_time_widget .time_widget > .display .icon {
	float:			left;
}

.temp_time_widget .temp_widget > .display .prompt,
.temp_time_widget .temp_widget > .display .details,
.temp_time_widget .time_widget > .display .prompt,
.temp_time_widget .time_widget > .display .details {
	float:			left;
	display:		inline-block;
	width:			160px;
	padding-left:		5px;
}

/*** Timer Sub-Display ***/

.temp_time_widget .time_sub {
	display:		block;
	height:			70px;
	overflow:		hidden;
}

.temp_time_widget .time_sub .display {
	display:		inline-block;
	float:			left;
	padding-right:		1px;
	width:			55;
}

.temp_time_widget .time_sub .display .icon {
	display:		inline;
	float:			none;
	width:			55;
}

.temp_time_widget .time_sub .display {
	margin-bottom:		12px;
}

.temp_time_widget .time_sub .display .prompt {
}

.temp_time_widget .time_sub .display .details {
}

/*** Buttons ***/
.temp_time_widget .time_pause,
.temp_time_widget .time_resume,
.temp_time_widget .time_complete,
.temp_time_widget .time_pause_all,
.temp_time_widget .time_resume_all,
.temp_time_widget .time_complete_all {
	text-align:	left;
	text-indent:	17px;
	background:	white;
	background-repeat:	no-repeat;
	border:		1px solid black;
	width:		218px;
	height:		19px;
	margin-bottom:	2px;
/*
	width:		70px;
	margin-right:	3px;
 */
}

.temp_time_widget .time_pause_all,
.temp_time_widget .time_resume_all,
.temp_time_widget .time_complete_all {
	display:	none;
}

.temp_time_widget .time_pause,
.temp_time_widget .time_pause_all {
	background-image:	url('../img/icon_pause_mini.png');
}

.temp_time_widget .time_resume,
.temp_time_widget .time_resume_all {
	background-image:	url('../img/icon_play_mini.png');
}

.temp_time_widget .time_complete,
.temp_time_widget .time_complete_all {
	background-image:	url('../img/icon_stop_mini.png');
}

/*** Timer State ***/

.temp_time_widget .display.on {
}

.temp_time_widget .display.off {
	display:	block;
}

.temp_time_widget .time_widget .on {
}

.temp_time_widget .time_widget .off {
}

.temp_time_widget .positive {
}

.temp_time_widget .negative {
	font-weight:	bold;
	color:		red;
}

.temp_time_widget .zero {
}

.temp_time_widget .time_sub .off.negative,
.temp_time_widget .time_sub .off.zero {
	display:	none;
}

