/*** Handle ***/
.handle {
/* */
	background-color:	#02a64f;
	border:			2px solid #cfcfcf;

	-moz-border-radius:	16px;
	-webkit-border-radius:	16px;
	/*background-image:       url('../img/timeline_handle.png');*/
	width:			16px;
	height:			16px;
	top:			-9px;
	display:		block;
	position:		absolute; 
	cursor:			move;
}

.handle:active {
	background:		#02a64f;
}

.handle:hover {
	background-image:	#02a64f;
}

a.handle:active {
	background-color:	#02a64f;
}

/*** Slider ***/
 .slider { 
	/*background-image:       url('../img/slider60.png');*/
	background-color:	white;
	position:		relative; 
	cursor:			pointer;
	width:			900px;
	height:			2px;
	margin-top:		70px;
	margin-left:	70px;
	top:			35px;
	z-index:		2;
/*
	border:			2px solid #00118E;	
	-moz-border-radius:	2px;
	-webkit-border-radius:	2px;
 */
}

.timeline_steps {
	position: 	absolute;
	cursor: 	pointer;
	width: 		898px;
	height: 	20px;
	margin-top: -25px;
	margin-left: 70px;
	top: 		35px;
	z-index: 	2;
	border:		1px solid white;
	font-size: 	0.7em;
	text-align:	center;
}

.step {
	position: 	relative;
	float: 		left;
	border-right: 1px solid white;
	height:		20px;
	padding:	3px 5px 0px 5px;	
}

/*** Input Text Field ***/
.range {
/*
 */
	display:		none;
}

/* When selected */
.range:focus {
	background-color:#333;
	color:#fff;	
}

/*** Progress Bar ***/
.progress {
	background-color:	#02a64f;
	/*top:			37px;*/
	bottom:			37px;
	height:			2px;
	width:			0px;
	/*position:		absolute;*/
	margin-top:		0px;
	margin-left:	0px;
}

/*** Time Display ***/

.timeline_time {
	display:		inline-block;
	margin-top:		45px;
	margin-left:	840px;
	margin-right:	10px;
	z-index:		3;
	position:		absolute;
	color:			gray;
	font-weight:	bold;
	font-size:		1.5em;
	/*float:			right;
	display:		inline-block;
	position:		absolute;
	margin-top:		8px;
	z-index:		4;
	position:		relative;
	float:			right;
	padding-right:	20px;
	padding-bottom:	10px;*/
}

.timeline_time .current {
	position:		relative;
	color:			#02a64f;
	display:		inline;
	z-index:		5;
}

.timeline_time .max {
	position:		relative;
	display:		inline;
	z-index:		5;
}

/*** Buttons ***/

.timeline_play,
.timeline_pause,
.timeline_stop {
	width:			40px;
	height:			40px;
	border:			none;
	margin:			20px 0px 0px 20px;
	background-color:	white;
	float:			left;
}

.timeline_play {
	background-image:       url('../img/icon_play.png');
}

.timeline_pause {
	background-image:       url('../img/icon_pause.png');
}

.timeline_stop {
	background-image:       url('../img/icon_stop.png');
}

.hidden {
	display:		none;
}

/* Added toggle buttons*/
.timeline_buttons {
	display:		inline-block;
	margin-top:		45px;
	margin-left:	700px;
	margin-right:	20px;
	z-index:		3;
	position:		absolute;
}

.img_swap, .img_swap on, .img_swap off {
	margin-left:	10px;
}

.technique_steps {
	position: 	absolute;
	cursor: 	pointer;
	width: 		898px;
	height: 	20px;
	margin-top: -40px;
	margin-left: 70px;
	top: 		35px;
}

.technique_steps > div {
	padding:	3px 3px 0px 3px;
	position:	relative;
	float:		left;
}

.tech_img {
	display:		block;
	width:			12px;
	height:			12px;
	margin-left: 	auto;
    margin-right: 	auto;
}