{% extends 'base.html' %}

{% block content %}
  <div class="row header-main">
    <div class="span8">
      {% if not query %}
      {# Show some example queries to run, maybe query syntax, something else? #}
      <h3>Try searching for something or <a href="{% url lessons %}" class="tertiary">browse our lessons</a>!</h3>
      {% elif not page.object_list %}
      <h3>No lessons found containing <em>{{query}}</em>.</h3>
      <h3>Try something else or <a href="{% url lessons %}" class="tertiary">browse our lessons</a>!</h3>
      {% else %}
      <h3>Search Results for <em>{{query}}</em></h3>
      {% endif %}
    </div>
    
    <div class="span4">
      {% include "pager.html" with page=page.object_list %}
    </div>
  </div>  
  
  <form method="get" action=".">
  <div class="content profile-lessons">
    {% for result in page.object_list %}
    <div class="span6">
      <div class="row">  
        {% include "lesson_tile.html" with lesson=result.object %}
      </div>
    </div>
      {% endfor %}
  </div>
  </form>
      

  
<script type="text/javascript" src="http://masonry.desandro.com/jquery.masonry.min.js"></script>
<script type="text/javascript">
pagelogic = function(){
    var $content = $('.content');
    $content.imagesLoaded(function(){
      $content.masonry({
        itemSelector : '.lesson',
        columnWidth : 490
      });
    });

    $('.box-lessons').addClass('box-active');
};
</script>
{% endblock %}
