{% extends 'base.html' %}
{% load verbatim %}
{% block media %}

{% verbatim %}

<script id="featured-request-templ" type="text/x-handlebars-template">

	<div class="row">
	  <div class="span6 lesson-title featured-request-span">
		<h3 class="no-margin">{{title}}</h3>
	  </div>
    </div>

	<div class="row">
	  <div class="span3 featured-request-span">
		<div class="no-margin featured-timetoraise"><h4>{{need_by}} left</h4></div>
	  </div>
      
      
      {{# if chef }}
	  <div class="span3 featured-request-span">	
           <div class="pull-right"><h4>by <a class="featured-miniprofile-btn miniprofile-btn tertiary">{{chef.full_name}}</a></h4></div>
      {{ else }}
        {{# if userIsChef }}
      <div class="span3 featured-request-signup">
        <div class="featured-request-signup-text">Become taste expert</div>
        <div class="btn-featured-request-signup"><a href="#" class="btn btn-secondary btn-request-contribute pull-right">signup</a></div>
        {{ else }}
      <div class="span3 featured-request-span">
        <div class="pull-right"><h4>No taste expert yet!</h4></div>
        {{/ if }}
      {{/ if }}
	  </div>

    </div>
    
    <hr class="request-hr" />
    
    <div class="row">
      <div class="span2 featured-request-span">
{% endverbatim %}
        <img src="{{ STATIC_URL }}img/moneybag.png" />
{% verbatim %}
        {{# if chef }}
        <h4 class="request-progress-text request-progress-text-raised pull-right">${{inpot}} in Pot</h4>
        <h4 class="request-progress-text request-progress-text-goal pull-right">/ ${{chef.amount_required}} Goal</h4>
        {{ else }}
        <h4 class="request-progress-text request-progress-text-raised pull-right">${{inpot}} in Pot</h4>
        {{/ if }} 
	  </div>

{% endverbatim %}

      <form class="contribute-form" action="{% url contribute  %}" method="post">
          {% csrf_token %}
          {% include "contribute_form.html" with contribute_form=contribute_form %}
          <input type="hidden" name='{{contribute_form.request_slug.name}}' value="{{slug}}">
      </form>
    </div>

{% verbatim %}

    {{# if chef }}
    <hr class="request-hr" />

    <div class="row">
      <div class="progress request-progress">
        <div class="bar request-bar" style="width: {{percent}}%;">
          <div class="request-bar-text pull-right">{{round percent}}%</div>
        </div>
      </div>
    </div>
    {{/ if }}
    
    <hr class="request-hr" />

	<div class="row">
	  <div class="span6 featured-request-span">
      {{description}}
      </div>
    </div>
    
{% endverbatim %}
    <div class="row">
      {% if request.user.is_authenticated %}
      <div class="span6 featured-request-span request-links">
        <div>Didn't find what you wanted?</div>
        <a id="requestform-btn" class="btn btn-primary">create your own request</a>
      </div>
      {% endif %}
    </div>

{% verbatim %}

    <hr class="request-hr" />

	<div class="row">
	  <div class="span6 featured-request-span">
        {{#each primary_ingredients}}
		<a class="btn btn-clearsecondary btn-tags">{{this}}</a>
        {{/each}}
        {{#each restrictions}}
		<a class="btn btn-clearsecondary btn-tags">{{this}}</a>
        {{/each}}
        {{#each course}}
		<a class="btn btn-clearsecondary btn-tags">{{this}}</a>
        {{/each}}
        {{#each cuisine}}
		<a class="btn btn-clearsecondary btn-tags">{{this}}</a>
        {{/each}}
	  </div>
    </div>

{% endverbatim %}    
    <!-- removing social media for private alpha
    <hr class="request-hr" />
    
    <div class="row">
      <div class="span6 featured-request-span">
        <div addthis:url="http://culination.com/ask?slug={{slug}}" class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_pinterest_pinit"></a>
          <a class="addthis_button_tweet"></a> 
        </div>
      </div>
    </div>
    -->
{% verbatim %}
    
    <hr class="request-hr" />
    
    <div class="row">
      <div class="span2 featured-request-span"><strong>{{pledges.length}} Contributors</strong></div>
      <div class="span2 featured-request-span"><strong>Date</strong></div>
      <div class="span2 featured-request-span"><strong>Amount Pledged</strong></div>
    </div>
    
    {{#each pledges}}
    <div class="row">
	  <div class="span2 featured-request-span">{{user_name}}</div>
      <div class="span2 featured-request-span">{{date_pledged}}</div>
      <div class="span2 featured-request-span">${{amount}}</div>
    </div>
    {{/each}}    
</script>
{% endverbatim %}

<script type="text/javascript">
has_stripe = {% if request.user.customer %}true{%else%}false{%endif%}
function stripeResponseHandler(status, response){
    if (status == 200){
        has_stripe = true
        stripe_input = $("<input type='hidden' name='stripe-id'>")
        stripe_input.attr('value', response.id)

        $('.contribute-form').append(stripe_input)
        $('.contribute-form').submit()
    }

}

require(['./common',], function(){
    require(['cs!main', 'cs!colorboxcommon', 'liveValidation', 'handlebars'], function(main, cc){
        {% if request.user.get_profile.professional_chef %}
          is_chef = true
        {% else %}
          is_chef = false
        {% endif %}
        Handlebars.registerHelper('userIsChef', function(block) {
            return is_chef
        });
        Handlebars.registerHelper('round', function(number) {
          rounded_number = Math.floor(number);
          return rounded_number;
        });

        source = $("#featured-request-templ").html();
        template = Handlebars.compile(source);
        $(".btn-requestsignup").click(function(e){
            cc.setupColorbox($(this).parent().find('.chef-pledge'))
        })
        target = null
        $("body").on('click','.btn-request-contribute', function(e){
            cc.setupColorbox(target)
        })

        function switchDisplay(slug){
            target = $("[data-slug=" + slug + "]").find('.chef-pledge')
            data = lesson_data[slug]
            dest = $("#featuredrequest")
            dest.html(template(data))
            url = "?request=" + slug
            window.history.replaceState({}, document.title, url)
            addthis.toolbox(".addthis_toolbox")
            $('.contribute-form').submit(function(e){
                if (has_stripe){
                    return true
                }
                else {
                    cc.setupColorbox('#payment')
                    return false
                }
            })
            active_request = $('.lessonrequest-active').find('.timetoraise');
            if (active_request.hasClass('timetoraise-today')) {
                $('.featured-timetoraise').addClass('timetoraise-today');
            }
            active_chef_link = $('.lessonrequest-active').find('.miniprofile-btn').attr('href');
            if (active_chef_link) {
                $('.featured-miniprofile-btn').attr('href', active_chef_link);
            }
        }

        
        $('.lessonrequest').click(function(){
            t = $(this)
            
            $('.arrow-left').remove();
            $('.lessonrequest').removeClass('lessonrequest-active');
            t.addClass('lessonrequest-active');
            $('.lessonrequest-active').prepend('<div class="arrow-left"></div>');
            
            slug = t.data('slug')
            switchDisplay(slug)
            $("#requestform-btn").click(function(){
              cc.setupColorbox("#requestform")
            })
        })

        switchDisplay("{{slug}}")

        $("#requestform-btn").click(function(){
           cc.setupColorbox("#requestform")
        })
        
        $('.box-ask').addClass('box-active');
    })
})
lesson_data = {{lesson_json|safe}}
$()

</script>
{% endblock %}

{% block content %}

<div class="row bordered-main">
  <div class="span12">
	<div class="row">
      <div class="span6 request-message">
        Click on a request for more details
      </div>
    </div>
  </div>
</div>


<div class="row bordered-main">

  <div id="requests-list" class="span6">
   {% for req in lesson_requests %}
   {% if slug == req.slug %}
   <span class="lessonrequest lessonrequest-active" data-slug="{{req.slug}}">
   <div class="arrow-left"></div>
   <div class="row">	
    <div class="span6 request request-first">
   {% elif forloop.last %}
   <span class="lessonrequest" data-slug="{{req.slug}}">
   <div class="row">		
    <div class="span6 request request-last">
   {% else %}
   <span class="lessonrequest" data-slug="{{req.slug}}">
   <div class="row">		
	<div class="span6 request">
   {% endif %}
 	  <div class="row">
		  <div class="span4 lesson-title request-title">
			<h4>{{req.title}}</h4>
		  </div>

		  <div class="span2">
            <div class="pull-right">
              <img src="{{ STATIC_URL }}img/moneybag.png" />
			  <h4 class="request-progress-text">${{req.in_pot|default:"0"|floatformat}}</h4>
            </div>
          </div>
      </div>

	  <div class="row">
		<div class="span4">
		  <div class="request-tile-description">
		    <small>{{req.description}}</small>
		  </div>
        </div>

        <div class="span2">
          {% if req.need_by|date:"N j, Y" = alert_date|date:"N j, Y" %}
          <div class="timetoraise timetoraise-today pull-right"><strong><small>{{req.need_by|timeuntil}} left</strong></small></div>
          {% else %}
          <div class="timetoraise pull-right"><strong><small>{{req.need_by|timeuntil}} left</strong></small></div>
          {% endif %}  
          <div class="attatchedchef pull-right">
            {% if req.chef_attatched %}
            <strong><small> 
              by <a href="{% url miniprofile req.chef_attatched.user.id %}" class="miniprofile-btn tertiary">{{req.chef_attatched.full_name}}</a>
            </small></strong>
            {% elif user.get_profile.professional_chef %}
            <div class="btn-requestsignup tertiary"><strong><small>Become Taste Expert!</small></strong></div>
            <div class="row no-display">
              {% include "chef_pledge.html" with pledge_form=pledge_form title=req.title slug=req.slug %}
            </div>
            {% else %}
            <strong><small>No Chef yet!</small></strong>
            {% endif %}
          </div>
		</div>
      </div>

    </div>
   </div>
   </span>
   {% if forloop.last %}
   {% else %}
	<div class="span6 request-margin"></div>
   {% endif %}
   {% endfor %}
  </div>
  
  <div id="featuredrequest" class="span6">
    <div class="row">
	  <div class="span6">
        <img src="{{STATIC_URL}}img/loading.gif"/>
      </div>
    </div>
  </div>
</div>

{% include "pager.html" with pager=lesson_requests %}

<div class="row no-display">
  {% include "lesson_request.html" with request_form=request_form %}
</div>

<div class="row no-display">
  {% include "payment.html" %}
</div>

{% endblock %}
