{% extends 'base.html' %}
{% load verbatim %}
{% block media %}

{% verbatim %}
<script id="featured-request-templ" type="text/x-handlebars-template">

{{title}}
{{in_pot}}
{{serving_size}}
{{time_in_min}}
{{description}}
{{need_by}}
{{#each primary_ingredients}}
{{this}}
{{/each}}}
{{#each restrictions}}
{{this}}
{{/each}}
{{#each course}}
{{this}}
{{/each}}}
{{#each cuisine}}
{{this}}
{{/each}}
{{chef}}
{{inpot}}
</script>
{% endverbatim %}

<script type="text/javascript">
require(['common',], function(){
    require(['handlebars'], function(){

        source = $("#featured-request-templ").html();
        template = Handlebars.compile(source);



        $('.lessonrequest').click(function(){
            t = $(this)
            slug = t.data('slug')
            data = lesson_data[slug]
            dest = $("#featuredrequest")
            dest.html(template(data))

        })
    })
})
lesson_data = {{lesson_json|safe}}
$()
</script>
{% endblock %}

{% block content %}

<div class="bordered-row main bordered">
  <div class="row">
    <div class="span12">
      Click on a request for more details
    </div>
  </div>
  <div class="row">
    <div class="span6">
      {% for req in lesson_requests %}
      <span class="lessonrequest" data-slug="{{req.slug}}">
      <div class="row">
        <div class="span3 reqtitle">{{req.title}} </div>
        <div class="span2 offset1 inpot">${{req.in_pot|default:"0"}} in pot</div>
      </div>
      <div class="row">
        <div class="span3">{{req.description}} </div>
        <div class="span2 offset1"><span class="timetoraise">{{req.need_by|timeuntil}} left to raise $</span>
              </br>
              <span class="attatchedchef">{{req.chef_attatched|default:"No Chef yet!"}}</span>
        </div>
      </div>
      </span>
      {% endfor %}
    </div>
    <div class="span6" id="featuredrequest">
    </div>
  </div>
</div>


{% include "pager.html" with lesson_requests=pager %}
{% endblock %}
