{% extends 'base.html' %}
{% block media %}
<script type="text/javascript">
lesson_data = {{lesson_json|safe}}
</script>
{% endblock %}

{% block content %}

<div class="bordered-row main bordered">
  <div class="row">
    <div class="span12">
      Click on a request for more details
    </div>
  </div>
  <div class="row">
    <div class="span6">
      {% for req in lesson_requests %}
      <span class="lessonrequest" data-id="{{req.id}}">
      <div class="row">
        <div class="span3 reqtitle">{{req.title}} </div>
        <div class="span2 offset1 inpot">${{req.in_pot|default:"0"}} in pot</div>
      </div>
      <div class="row">
        <div class="span3">{{req.description}} </div>
        <div class="span2 offset1"><span class="timetoraise">{{req.need_by|timeuntil}} left to raise $</span>
              </br>
              <span class="attatchedchef">{{req.chef_attatched|default:"No Chef yet!"}}</span>
        </div>
      </div>
      </span>
      {% endfor %}
    </div>
  </div>
</div>


{% include "pager.html" with lesson_requests=pager %}
{% endblock %}
