{% load mezzanine_tags %}
<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>{% block title %} {% endblock %}</title>
    <link rel='stylesheet' href='{{ STATIC_URL }}css/main.css' />
    <link rel='shortcut icon' href='/favicon.ico' />
    <link rel='apple-touch-icon' href="">

    <meta name='title' content='' />
    <meta name='description' content='' />

    <!-- Google Site Verification -->
    <meta name='google-site-verification' content="" />

    <!-- Facebook Open Graph -->
    <meta property="fb:admins" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="fb:page_id" content="" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript">
            Stripe.setPublishableKey('pk_ql6Y3hAzG1yNZRTgdy5I6O7wMzbES');
    </script>

    <script data-main="{{STATIC_URL}}js/{% block jsmain %}main{%endblock%}" src="{{STATIC_URL}}js/require/require-jquery.js"></script>

    {% block media %}{% endblock %}
  </head>
  <body>
<script type="text/javascript">
var addthis_config = {"data_track_addressbar":true, services_overlay:'facebook,tumblr,more'};
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-511088d74ba42a22"></script>


    <div class='container'>
      <header class="row">
        {% include "nav.html" %}
        {% include "searchbar.html" %}
        {% block header %} {% endblock %}
      </header>
      <div class="content" >
        {% block content %}  {% endblock %}
      </div>
      <footer class="row">
        {% include "footer.html" %}
        {% block footer %} {% endblock %}
      </footer>

    </div>
    <div class="row no-display">
      {% if not request.user.is_authenticated %}

      {% include "signup.html" %}
      {% include "login.html" %}
	  {% include "fpassword.html" %}
      {% endif %}
    </div>
	{% editable_loader %}
  </body>
</html>
