<div class="span6" id="requestform">
  <form class="chef-pledge-form" action="{% url chef_pledge_form slug %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="span6">
        <h4 class="no-margin">Create this lesson</h4>
      </div>
    </div>

    <hr class="request-hr" />

    <div class="row">
      <div class="span3 request-form-field">
        {{pledge_form.amount.label_tag}}
		<input name="{{pledge_form.amount.html_name}}"
               class="request-input"
               type="text"
               placeholder=""
               value="{{pledge_form.amount.value|default:""}}"
               data-validation-engine="validate[required]"
               data-errormessage-value-missing="Amount is required!"
               />
        {{request_form.title.errors}}
      </div>
    </div>
    <div class="row">
      <div class="span4 request-form-field request-form-buttons pull-right">
		<a href="{% url ask %}" class="btn btn-white">return to requests</a>
		<input type="submit" name="request" value="submit" class="btn btn-green pull-right">
	  </div>
	</div>
  </form>
</div>
