<div id="change-password">
  <div class="row">
	<div class="span4">
	  <h4>Change Password</h4>

	  <hr />

	  <p>Enter a new password for your account.</p>

      {{cpass_form.non_field_errors}}
	  <form action="{% url account:password_change %}" method="post">
        {%csrf_token%}
		<div id="password">
		  <h5>Current Password</h5>
		  <input name="old_password" type="password" placeholder="">
          {{cpass_form.old_password.errors}}
		</div>

		<div id="new_password">
		  <h5>New Password</h5>
		  <input name="new_password1" type="password" placeholder="">
          {{cpass_form.new_password1.errors}}
		</div>

		<div id="confirm_password">
		  <h5>Confirm Password</h5>
		  <input name="new_password2" type="password" placeholder="">
          {{cpass_form.new_password2.errors}}
		</div>

		<hr/>

		<div class="row">
          <input type="hidden" name="next" value="{{cpass_form.next.value|default:request.get_full_path}}" >
		  <div class="span2">
			<div class="cancel-btn">
			  <a class="btn btn-white btn-login">
				nevermind
			  </a>
			</div>
		  </div>

		  <div class="span2">
			<div class="signup-btn">
			  <input type="submit" value="change" class="btn btn-primary btn-login pull-right" onclick="$.colorbox.close()">
			</div>
		  </div>
		</div>

	  </form>
	</div>

  </div>
</div>
