<div class="">
      <div id="forgot-password">
		<div class="row">
		  <div class="span6">
		    <h5>Please enter your question and we will respond as soon as we can.</h5>

		    <hr />

			<div id="createlessondesc">
			  <form>
				<textarea class="create-lesson-desc create-lesson-question"></textarea>
			  </form>
			</div>				
			
			<hr />

			<div class="row">
			    <div class="span4">
				  <div class="login-btn">
					<a class="btn btn-white btn-login pull-right">
					  nevermind
				    </a>
				  </div>
				</div>

				<div class="span2">
				    <a class="btn btn-primary btn-login pull-right">
					  send
					</a>
			    </div>
			</div>

		  </div>
		</div>
	  </div>
</div>
