<div class="footer">
  <div class="navbar-inner">
  <ul class="footer-left">
    <div class="span6">
      <div class="span2 footer-text">
        <p class="brand" href="/">tutelage © 2013</p>
      </div>
      <!-- commenting out social media for private alpha
      {% include "share.html" %}
      <!-- -->
    </div>
  </ul>
  <ul class="footer-right pull-right">
	<div class="span6">
	  <p class="pull-right footer-links">
		<a class="secondary" href="mailto:team@tutelageinc.com">Contact Us</a>
		<a class="secondary" href="#">Terms of Service</a>
		<a class="secondary" href="#">Privacy Policy</a>
	  </p>
	</div>
  </ul>

  </div>
</div>
