<div class="footer">
  <div class="navbar-inner">
  <ul class="footer-left">
    <div class="row">
      <div class="span2">
        <p class="brand footer-text" href="/">tutelage © 2013</p>
      </div>
      {% include "share.html" %}
    </div>
  </ul>
  <ul class="pull-right">
	<div class="span6">
	  <p class="pull-right footer-links">
		<a class="tertiary" href="mailto:team@tutelageinc.com">Contact us</a>
		<a class="tertiary" href="#">Terms of Service</a>
		<a class="tertiary" href="#">Privacy Policy</a>
	  </p>
	</div>
  </ul>

  </div>
</div>
