<div class="no-display">
      <div class="forgot_password">
		<div class="row">
		  <div class="span4">
		    <h4>Forgot Your Password</h4>

		    <hr />

			<p>Let's make your day better: just enter the email address you set up your account with and we'll send you a link to change your password.
			</p>
			
			<form class="login-form" target="/login" action="post">
			  <div id="email">
				<h5>Email</h5>
				<input class="login-input" type="text" placeholder="">
			  </div>

			  <hr />

			  <div class="row">

			    <div class="span2">
				  <div class="signup-btn">
					<a class="btn btn-white btn-login pull-right">
					  nevermind
				    </a>
				  </div>
				</div>

				<div class="span2">
				  <div class="signup-btn">
				    <a class="btn btn-green btn-login pull-right">
					  send
					</a>
				  </div>
			    </div>
			  </div>

			</form>
		  </div>

		</div>
	  </div>
</div>
