<div class="">
      <div id="forgot-password">
		<div class="row">
	      <div class="span4">
	  <h4>Forgot Your Password</h4>

	  <hr />

	  <p>Let's make your day better: just enter the email address you set up your account with and we'll send you a link to change your password.
	  </p>

	  <form action="{% url account:password_reset %}" method="post">
        {% csrf_token %}
		<div class="email">
          {{ fpassword_form.non_field_errors }}
          {{ fpassword_form.email.errors }}
		  <h5>Email</h5>
		  <input type="text" name="email" placeholder="" value="{{fpassword_form.email.value|default:""}}">
		</div>

		<hr />

		<div class="row">

		  <div class="span2">
			<a class="btn cancel-btn btn-white">
			  nevermind
			</a>
		  </div>

		  <div class="span2">
			<input type="submit" class="btn btn-primary pull-right" value="send">
		  </div>
		</div>
        <input type="hidden" name="next" value="{{fpassword_form.next.value|default:request.get_full_path}}">
	  </form>
	</div>

  </div>
</div>
