{% extends 'base.html' %}

{% block media %}
<script type="text/javascript">
pagelogic = function(){
    add_ingredient = "<div class='row'>" +
        "				  <div class='span1 pull-left'>" +
        "					<a class='btn btn-green btn-save btn-add pull-left'>" +
        "					<strong>&#43;</strong>" +
        "					</a>" +
        "				  </div>" +
        "				  <div class='span2 create-lesson-add-ingredient'>" +
        "				    <span class='vertical-align'><strong>add ingredient</strong></span>" +
        "				  </div>" +
        "			    </div>"


    add_tool = "<div class='row'>" +
        "				  <div class='span1 pull-left'>" +
        "					<a class='btn btn-green btn-save btn-add pull-left'>" +
        "					<strong>&#43;</strong>" +
        "					</a>" +
        "				  </div>" +
        "				  <div class='span2 create-lesson-add-tool'>" +
        "				    <span class='vertical-align'><strong>add tool</strong></span>" +
        "				  </div>" +
        "			    </div>"




    $('.ingredient_formset').formset({
        prefix: '{{ ingredient_formset.prefix }}',
        formCssClass: 'dynamic-formset1',
        addText: add_ingredient,
    });
    $('.tool_formset').formset({
        prefix: '{{ tool_formset.prefix }}',
        formCssClass: 'dynamic-formset2',
        addText: add_tool,
    });



};
</script>
{% endblock %}


{% block content %}
{% autoescape off %}
<div class="bordered-row main bordered">

    <div class="span6">
	  <div class="create-lesson-title">
	    <h2>Create New Lesson</h2>
	  </div>
	</div>

	<div class="span2 vertical-align">
	  <div class="create-step-btn">
	    <a class="btn btn-lightgray btn-create-step pull-left">
		  <span class="create-step-text">step &#160; &#160;</span><strong>1</strong>
		</a>
	  </div>
	</div>

	<div class="span2 btn-create-step-2">
	  <div class="create-step-btn">
		<a class="btn btn-darkgray btn-create-step">
		  <span class="create-step-text">step &#160; &#160;</span><strong>2</strong>
		</a>
	  </div>
	</div>

	<div class="span2">
	  <div class="create-step-btn">
		<a class="btn btn-lightgray btn-create-step pull-right">
		  <span class="create-step-text">step &#160; &#160;</span><strong>3</strong>
		</a>
	  </div>
	</div>

  <div class="span12">
	<div class="row">
	  <hr class="profile-hr" />
	</div>

	<div class="row">
	  <div class="span8 create-lesson-title-step1">
		<h3 class="colored-header">2. Ingredients &amp; Tools</h3>
	  </div>

	  <div class="span4 pull-right">
		<a href="#" class="create-lesson-help-btn pull-right">Need help?</a>
	  </div>
	</div>

	<div class="row">
	  <hr class="create-lesson-hr"/>
	</div>

	<div class="row">
	  <form class="profile-form" target="" action="" method="POST">
        {% csrf_token %}
		  <div class="span6">
			<div id="create-lesson-form-2-left">
				<div id="createlessontitle">
				  <h5>Ingredients</h5>
				</div>

				<div class="row">
				  <hr class="create-lesson-hr"/>
				</div>

				<div class="row">
				  <div class="span3">Name</div>
				  <div class="span3">Measurement</div>
				</div>


                {% for f in ingredient_formset %}
                <span class="ingredient_formset">
				<div class="row">
                    {{f.id}}
				  <div class="span3">
                    {{f.ingredient}}
				  </div>
                  <div class="span3">
                    {{f.measurement}}
				  </div>
                  <!--
				  <div class="span1">
                    {{f.number}}
				  </div>				  
				  <div class="span1">
                    {{f.prep}}
				  </div>
                  -->
				</div>
                {% if f.instance.pk %}{{ f.DELETE }}{% endif %}
                </span>
                {% endfor %}

				<div class="row">
				  <hr class="" />
				</div>

			</div>
		  </div>

		  <div class="span6">
			<div id="create-lesson-form-2-right">
				<div id="createlessontitle">
				  <h5>Tools</h5>
				</div>

				<div class="row">
				  <hr class="create-lesson-hr"/>
				</div>

				<div class="row">
				  <div class="span2">Name</div>
                  <!--
				  <div class="span2">Size</div>
				  <div class="span2">Type</div>
                  -->
				</div>

                {% for t in tool_formset %}
                <span class="tool_formset">

				<div class="row">
                    {{t.id}}

				  <div class="span6">
                    {{t.name}}
				  </div>
                  <!--
				  <div class="span2">
                    {{t.size}}
				  </div>
				  <div class="span2">
                    {{t.type}}
				  </div>
                  -->
				</div>
                </span>
                {% endfor %}

				<div class="row">
				  <hr class="" />
				</div>

			</div>
		  </div>

	</div>

	<div class="row">
	  <hr />
	</div>

	<div class="row">
      <div class="span1 pull-right">
      </div>
	  <div class="span1  pull-right">
		  <input type="submit" value="next" class="btn btn-green btn-save">
	  </div>
	  <div class="span1 pull-right">
		<a class="btn btn-green btn-save" href="{% url edit-lesson lesson_id=lesson.id %}">
		  back
		</a>
	  </div>
	</div>
    {{ ingredient_formset.management_form }}
    {{ tool_formset.management_form }}
    </form>


  </div>
</div>

<div class="no-display">
      <div id="lesson-help">
		<div class="row">
		  <div class="span6">
		    <h5>Please enter your question and we will respond as soon as we can.</h5>

		    <hr />

			<div id="createlessondesc">
			  <form>
				<textarea class="create-lesson-desc create-lesson-question"></textarea>
			  </form>
			</div>				
			
			<hr />

			<div class="row">
			    <div class="span4">
				  <div class="login-btn">
					<a class="btn btn-white btn-login pull-right">
					  nevermind
				    </a>
				  </div>
				</div>

				<div class="span2">
				    <a class="btn btn-green btn-login pull-right">
					  send
					</a>
			    </div>
			</div>

		  </div>
		</div>
	  </div>
</div>

  {% endautoescape %}
  {% endblock %}
