<div class="span6 lesson">
 	  <div class="row">
		  <div class="span5 lesson-title">
			<a class="green" href="{%url lesson_detail lesson.id %}"><h3 class="no-margin">{{lesson.title|title}}</h3></a>
		  </div>
		  <div class="span1">
			<h3 class="no-margin pull-right">${{lesson.price|default:"0"}}</h3>
		  </div>
      </div>

      <div class="row">
		<div class="span2 offset4 lesson-author">by <a class="miniprofile-btn green" href="{% url miniprofile lesson.teacher.id %}"><strong>{{lesson.teacher.get_full_name|title}}</strong></a></div>
      </div>
      <hr/>
      <div class="row">
		<div class="span3 lesson-tile-left">
            {% include "rating.html" with lesson=lesson%}
		</div>
        <div class="span3">
            {% if request.user == lesson.teacher %}
            <a class="btn btn-blue" href="{%url edit-lesson lesson.id %}">Edit Lesson</a>
            {% else %}
		    <a class="btn btn-blue" href="{%url lesson_detail lesson.id %}">More details</a>
            {% endif %}
		  <a class="btn btn-green pull-right" href="{% url purchase lesson.id %}">Watch</a>
		</div>
      </div>
      <hr/>
	  <div class="row">
        <div class="span3">
            <img class="lesson-tile-image" src="{{MEDIA_URL}}{{lesson.image}}"/>
        </div>
		<div class="span3 lesson-tile-right">
			<div class="lesson-tile-description">
			  <small>{{lesson.flavor_text}}</small>
			</div>
			<ul class="lesson-tile-info">
              <li>Serves: {{lesson.serving_size}}</li>
			  <li>Prep Time: {{lesson.prep_in_min}} minute{{lesson.prep_in_min|pluralize}}</li>
			  <li>Cooking Time: {{lesson.cook_in_min}} minute{{lesson.cook_in_min|pluralize}}</li>
            </ul>
		</div>
      </div>

	  <div class="row">
	    <br />
	  </div>

	  <div class="row">
		  <div class="span6 lesson-tile-tags">
              {% for tag in lesson.tags %}
			  <a href="{% url search %}?q={{tag}}" class="btn btn-clearblue btn-tags">{{tag|title}}</a>
              {% endfor %}
		  </div>
      </div>
    </div>
