{% extends 'base.html' %}

{% block content %}
<div class="bordered-row main bordered">
    <div class="span7">
 	  <div class="row">
		  <div class="span5 green lesson-title">
			<h3>{{lesson.title}}</h3>
		  </div>
		  <div class="span1">
			<h3 class="pull-right">${{lesson.price|default:"0"}}</h3>
		  </div>
      </div>

      <hr />

      <div class="row">
        <div class="lesson-photo">
		  <div class="span6">
		  <img src={{MEDIA_URL}}{{lesson.image}} />
		  <span id="lesson-full-desc">{{lesson.flavor_text}}</span>
		  </div>
		</div>

      </div>


        <div class="span2 recipe-info">
			<ul class="recipe-info">
              <li>Serves: {{lesson.serving_size}}</li>
        </div>


        <div class="span2 recipe-info">
              <li>Prep: {{lesson.prep_time}} minutes</li>
        </div>
        <div class="span3 recipe-info">
              <li>Cooking: {{lesson.cooking_time}} minutes</li>
            </ul>
        </div>

	  <div class="row">
		<br />
        <hr />
      </div>

        <div class="row">
          <div class="span7">
            {% for tag in lesson.primary_ingredients.all %}
            <a class="btn btn-clearblue btn-tags">{{tag}}</a>
            {% endfor %}
            {% for tag in lesson.course.all %}
            <a class="btn btn-clearblue btn-tags">{{tag}}</a>
            {% endfor %}
            {% for tag in lesson.cuisine.all %}
            <a class="btn btn-clearblue btn-tags">{{tag}}</a>
            {% endfor %}
            {% for tag in lesson.restriction.alls %}
            <a class="btn btn-clearblue btn-tags">{{tag}}</a>
            {% endfor %}
		  </div>
        </div>

    </div>

    <div class="span5">
      <div class="colored_header">
        <div class="main-movie">
          {% load avatar_tags %}
		  <h3>Chef &#160; {{lesson.teacher}}</h3>
          {% avatar lesson.teacher %}
        </div>

        <hr />

        <div class="row">
          <div class="span2">
		    <a class="btn btn-blue pull-left" href="{% url lessons %}">Back to Lessons</a>
		  </div>
		  <div class="span2">
		    <a class="btn btn-green pull-right">Purchase Lesson</a>
		  </div>
		</div>
      </div>

    </div>

</div>

<div class="bordered-row bordered">
    <div class="span12">
        <div class="colored_header">
          <h4>Get&#160;<abbr title='"Everything in Place"'>Mise en Place</abbr> - and get cooking!</h4>
        </div>
    </div>
</div>

<div class="bordered-row bordered">

    <div class="span3">
 	  <h5>Ingredients</h5>
 	  <ul class="lesson-list">
        {% for i in lesson.ingredients.all %}
 	    <li>{{i.number}} <em>{{i.measurement}} </em>{{i.name}}<em>, {{i.prep}}</em></li>
        {% endfor %}
 	  </ul>
    </div>

    <div class="span3">
	  <h5>Tools</h5>
 	  <ul class="lesson-list">
        {% for i in lesson.tools.all %}
 	    <li><em>{{i.size}} </em>{{i.name}}<em>, {{i.type}}</em></li>
        {% endfor %}
 	  </ul>
    </div>

    <div class="span3">
 	  <h5>Techniques</h5>
 	  <ul class="lesson-list">
        {% for step in lesson.steps.all %}
        {% for tech in step.technique.all %}
 	    <li>{{tech}}</li>
        {% endfor %}
        {% endfor %}
 	  </ul>
    </div>

    <!-- <div class="span3"> -->
	<!--   <h5>Nutrition</h5> -->
 	<!--   <ul class="lesson-list"> -->
 	<!--     <li>Realness Factor -->
 	<!--       <div class="progress" style="width: 80%"> -->
	<!-- 		  <div class="bar" style="width: 70%"></div> -->
 	<!--       </div> -->
 	<!--     </li> -->
 	<!--     <li>Fruits -->
 	<!--       <div class="progress progress-info" style="width: 80%"> -->
	<!-- 		  <div class="bar" style="width: 5%"></div> -->
 	<!--       </div> -->
 	<!--     </li> -->
 	<!--     <li>Vegetables -->
 	<!--       <div class="progress progress-success" style="width: 80%"> -->
	<!-- 		  <div class="bar" style="width: 30%"></div> -->
 	<!--       </div> -->
 	<!--     </li> -->
 	<!--     <li>Meats -->
 	<!--       <div class="progress progress-danger" style="width: 80%"> -->
	<!-- 		  <div class="bar" style="width: 45%"></div> -->
 	<!--       </div> -->
 	<!--     </li> -->
 	<!--     <li>Grains -->
 	<!--       <div class="progress progress-warning progress-striped" style="width: 80%"> -->
	<!-- 		  <div class="bar" style="width: 35%"></div> -->
 	<!--       </div> -->
 	<!--     </li> -->
 	<!--     <li>Nuts/Seeds -->
 	<!--       <div class="progress progress-success progress-striped" style="width: 80%"> -->
	<!-- 		  <div class="bar" style="width: 20%"></div> -->
 	<!--       </div> -->
 	<!--     </li> -->
 	<!--   </ul> -->
    <!-- </div> -->
</div>
{% endblock %}
