{% extends 'base.html' %}


{% block content %}
<div class="bordered-row main bordered">

  <div class="span6">
	<div class="create-lesson-title">
	  <h2>Create New Lesson</h2>
	</div>
  </div>

  <div class="span2 vertical-align">
	<div class="create-step-btn">
	  <a class="btn btn-darkgray btn-create-step pull-left">
		<span class="create-step-text">step &#160; &#160;</span><strong>1</strong>
	  </a>
	</div>
  </div>

  <div class="span2 btn-create-step-2">
	<div class="create-step-btn">
	  <a class="btn btn-lightgray btn-create-step">
		<span class="create-step-text">step &#160; &#160;</span><strong>2</strong>
	  </a>
	</div>
  </div>

  <div class="span2">
	<div class="create-step-btn">
	  <a class="btn btn-lightgray btn-create-step pull-right">
		<span class="create-step-text">step &#160; &#160;</span><strong>3</strong>
	  </a>
	</div>
  </div>

  <div class="span12">
	<div class="row">
	  <hr class="profile-hr" />
	</div>

	<div class="row">
	  <div class="span8 create-lesson-title-step1">
		<h3 class="colored-header">1. Lesson Details</h3>
	  </div>

	  <div class="span4 pull-right">
		<a href="#" class="tertiary create-lesson-help-btn pull-right">Need help?</a>
	  </div>
	</div>

	<div class="row">
	  <hr class="create-lesson-hr"/>
	</div>

	<div class="row">
	  <form class="profile-form" action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="hidden" value="{{request.user.id}}" name="{{form.teacher.html_name}}">
        {{form.non_field_errors}}
		  <div class="span6">
			<div id="create-lesson-form-1-left">
				<div id="createlessontitle">
				  <h5>Lesson Title</h5>
                  {{form.title}}
                  {{form.title.errors}}
				</div>

				<div class="row">
				  <div class="span3">
					<div class="create-lesson-field-price input-prepend">
					  <h5>Lesson Price (in $)</h5>
					    <span class="add-on">$</span>
					    <input class="create-lesson-input-price"
                               name="{{form.price.html_name}}"
                               type="number"
                               min="0"
                               value="{{form.price.value}}"
                               max="100" 
                               placeholder="Price">
                        {{form.price.errors}}
					</div>
				  </div>

				  <div class="span3">
					<div class="create-lesson-field-small">
					  <h5>Serving Size</h5>
					  <input class="create-lesson-input-small"
                             name="{{form.serving_size.html_name}}"
                             type="number" min="1" max="12"
                             value="{{form.serving_size.value}}"
                             placeholder="Serving size">
                      {{form.serving_size.errors}}
					</div>
				  </div>
				</div>

				<div class="row">
				  <div class="span3">
				    <h5>Featured Ingredient(s)</h5>
                    {{form.primary_ingredients}}
                    {{form.primary_ingredients.errors}}
				  </div>

				  <div id="lessonmealtype" class="span3">
				    <h5>Course Type(s)</h5>
                    {{form.course}}
                    {{form.course.errors}}
				  </div>
				</div>

			  <div id="firstname" class="">
				<h5>Select Your Lesson Image</h5>
				{{form.image}}
                {{form.image.errors}}
			  </div>
			</div>
		  </div>

		  <div class="span6">
			<div id="create-lesson-form-1-right">
			  <div id="lessontype">
				<h5>Lesson Type</h5>
                {{ form.kind }}
                {{ form.kind.errors}}
			  </div>

			  <div class="row">
				<div class="span3">

				  <div id="preptime" class="create-lesson-field-small">
					<h5>Preparation Time (min.)</h5>
                    {{form.prep_time}}
                    {{ form.prep_time.errors}}
				  </div>
				</div>

				<div class="span3">
				  <div id="email" class="create-lesson-field-small">
					<h5>Cooking Time (min.)</h5>
					{{form.cooking_time}}
                    {{ form.cooking_time.errors}}
				  </div>
				</div>
			  </div>

			  <div class="row">
				<div id="lessonmealtype" class="span3">
				  <h5>Cuisine</h5>
				  {{form.cuisine}}
				  {{ form.cuisine.errors}}
				</div>

			    <div id="lessonmealtype" class="span3">
				  <h5>Dietary Restrictions</h5>
                  {{form.restrictions}}
                  {{form.restrictions.errors}}
                </div>
			  </div>

			  <div class="row">
			    <div id="createlessondesc" class="span6">
				  <h5>Short Lesson Description (200 characters max)</h5>
                  {{form.description}}
                  {{form.description.errors}}
			    </div>
			  </div>

			</div>
		  </div>

	</div>

	  <div class="row">
	    <hr class="create-lesson-hr"/>
	  </div>

	  <div class="row">
	    <div class="span4 pull-right">
		  <input type="submit" value="next" class="btn btn-primary btn-save pull-right">
	    </div>
	  </div>

	  </form>


    </div>
</div>

<div class="no-display">
      <div id="lesson-help">
		<div class="row">
		  <div class="span6">
		    <h5>Please enter your question and we will respond as soon as we can.</h5>

		    <hr />

			<div id="createlessondesc">
			  <form>
				<textarea class="create-lesson-desc create-lesson-question"></textarea>
			  </form>
			</div>

			<hr />

			<div class="row">
			    <div class="span4">
				  <div class="login-btn">
					<a class="btn btn-white btn-login pull-right">
					  nevermind
				    </a>
				  </div>
				</div>

				<div class="span2">
				    <a class="btn btn-primary btn-login pull-right">
					  send
					</a>
			    </div>
			</div>

		  </div>
		</div>
	  </div>
</div>
  {% endblock %}
