{% extends 'base.html' %}
{% block content %}
{% for lesson in lessons %}
{% include "lesson_tile.html" with lesson=lesson %}
{% endfor %}
<script type="text/javascript" src="http://masonry.desandro.com/jquery.masonry.min.js"></script>
<script type="text/javascript">
pagelogic = function(){
    var $content = $('.content');
    $content.imagesLoaded(function(){
      $content.masonry({
        itemSelector : '.lesson',
        columnWidth : 490
      });
    });
    
    $('.box-lessons').addClass('box-active');
};
</script>
{% endblock %}
