{% extends 'base.html' %}

{% block media %}
                <script type="text/javascript">
                  require(["jquery", "lib/jquery.colorbox-min"], function($){
                      $(".tech").colorbox({inline:true, width:"50%", href:function(){
                          return $(this).siblings('.video-row').children('.chef-movie-video');
                       }
                    });
                  });
                </script>
{% endblock %}

{% block content %}
	  <div id="lesson-wrapper" class="bordered-row bordered">
        <div id="lessons" class="carousel slide no-margin">
            <div class="carousel-inner">
                {% for step in lesson.steps.all %}
                {% if forloop.first %}
                <div class="active item">
                {% else %}
                <div class="item">
                {% endif %}
				  
				  
				  <img class="lesson-picture" src="{{MEDIA_URL}}{{step.picture}}" />
                  <div class="step-text no-margin lesson-wrapper-overlay">
					<div class="step-title span6">Step {{step.order}}: {{step.title}}</div>
					
					<div class="step-technique span5">
					    {% for tech in step.technique.all %}
						<a href="#" class="step-technique-text step-title blue pull-right">Watch 
						  <img class="technique-play-icon" src="{{STATIC_URL}}img/technique-play-icon.png" /> 
						  {{tech.title}}</a>
						<!-- this should likely be moved somewhere else -->
						<div class="row no-display video-row">
						  <video class="chef-movie-video span6" controls="controls">
							<!-- sample videos until we have our actual intro video -->
							<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" />
							<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" />
							<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" />
							<!-- fallback  -->
							<p>Your browser does not support HTML5 video.</p>
						  </video>
						</div>
						{% endfor %}
					</div>			
					
					<div class="step-description span12">{{step.text}}</div>
				  </div>
				  
                  <div id="ingredient" class="span4 no-margin lesson-panel">
                      {% for ingredient in step.ingredients.all %}
                        <span class='panel-item ingredient ingredient{{forloop.counter}}'>
                             <div class='lesson-icon-text lesson-icon-ingredients-text'>
                               <strong>{{ingredient.number}} {{ingredient.measurement}} {{ingredient.prep}} {{ingredient.ingredient.name}}</strong>
                             </div>
                             <div class='lesson-icon-circle lesson-icon-circle-ingredients'>
                               <img class='lessonimages' src='../../static/img/icon.pie.png' alt='{{ingredient.name}}' />
                             </div>
                         </span>
                      {% endfor %}
                  </div>

                  <div class="span4 pull-right">
                    <div id="tools" class="lesson-panel">
                      {% for tool in step.tools.all %}
                          <div class='panel-item tool tool{{forloop.counter}}'>
                            <div class='lesson-icon-text lesson-icon-tools-text'>
                              <strong>{{tool.name}}</strong>
                            </div>
                            <div class='lesson-icon-circle lesson-icon-circle-tools'>
                              <img class='lessonimages' src='../../static/img/icon.pie.png' alt='{{tool.name}}' />
                            </div>
                          </div>
                      {% endfor %}
                    </div>
                  </div>

                </div>
                {% endfor %}
            </div>           
        </div>
	  </div>
	  
	  <div class="row">
	    <div id="lesson-timeline" class="">
		  <a class="lesson-nav-btn" href="#lessons" data-slide="prev"><i class="icon-chevron-left"></i></a>
		  <a class="lesson-nav-btn pull-right" href="#lessons" data-slide="next"><i class="icon-chevron-right"></i></a>
		  <div id="lesson-timeline-images">
		    {% for step in lesson.steps.all %}
		    {% if forloop.first %}
		    <img class="lesson-timeline-picture lesson-timeline-picture-active" src="{{MEDIA_URL}}{{step.picture}}"/>
		    {% else %}
            <img class="lesson-timeline-picture" src="{{MEDIA_URL}}{{step.picture}}" />
            {% endif %}                  
		    {% endfor %}
		  </div>
	    </div>
	  </div>


<!-- <div id="lesson-wrapper" class="row"> -->
<!--     <div class="span4 no-margin"> -->
<!--       <div id="step_text" class="lesson-wrapper-overlay"><strong id="step_title"></strong></div> -->

<!--       <div id="ingredient" class="lesson-panel"></div> -->
<!-- 	</div> -->

<!-- 	<div class="span4 pull-right"> -->
<!--       <div id="tools" class="lesson-panel"></div> -->
<!-- 	</div> -->

<!-- 	<div id="step_buttons" class="no-display"> -->
<!--     <a href="#" class="tools">Tools</a> -->
<!--     <a href="#" id="ingredient-1" class="ingredients">Ingredients</a> -->
<!-- 	</div> -->

<!--     <div class="no-display"> -->
<!--     <div id="tools-0"></div> -->
<!--     <div id="ingredient-0"></div> -->
<!--     </div> -->

<!-- </div> -->


{% endblock %}
