{% extends 'base.html' %}

{% block media %}
<script type="text/javascript" >
    pagelogic = function(){
        lessons = require("cs!lessons")
        lesson_data = {
            steps: [
                {% for step in lesson.s %}
                  {
                      title:"{{step.title}}",
                      order: {{step.order}},
                      start_time: {{step.start_time}},
                      {% if step.end_time %}
                      end_time: {{step.end_time}},
                      {% endif %}
                      text: "{{step.text}}",
                      techniques: [
                          {% for tech in step.technique.all %}
                            {

                            },
                          {% endfor %}
                      ],
                      tools: [
                          {% for tool in step.tools.all %}
                          {
                              name: "{{tool.name}}",
                              size: "{{tool.size}}",
                              type: "{{tool.type}}",

                          },
                          {% endfor %}
                      ],
                      ingredients: [
                          {% for ingredient in step.ingredients.all %}
                          {
                              name: "{{ingredient.ingredient.name}}",
                              number: "{{ingredient.number}}",
                              measurement: "{{ingredient.measurement}}",
                              prep: "{{ingredient.prep}}",
                          },
                          {% endfor %}
                      ],
                  },
                {% endfor %}
            ],
        }
        lesson  = lessons.makeLesson("#lesson", lesson_data)
    };
</script>
{% endblock %}

{% block content %}
<div class="bordered-row main bordered">
    <div id="step_title"></div>
    <div id="step_text"></div>

    <video height="600" width="600" id="lesson" controls="controls">

        {% for video in lesson.videos.all %}
        <source src="http://localhost:8001{{video.get_absolute_url}}"></source>
        {% endfor %}
    </video>
    <div id="tools"></div>
    <hr>
    <div id="ingredient"></div>
    <div id="step_buttons"></div>
</div>
{% endblock %}
