{% extends 'base.html' %}
{% block content %}

{% for lesson in lessons %}
{% cycle "True" "" as newrow silent %}
{% if newrow %}
<div class="row bordered lessons">
{% endif %}
    <div class="span6 lesson">
 	  <div class="row">
		  <div class="span5 green">
			<h3>{{lesson.title}}</h3>
		  </div>
		  <div class="span1">
			<h3 class="pull-right">${{lesson.price|default_if_none:"0"}}</h3>
		  </div>
      </div>

      <div class="row">
		<div class="span2 offset4 lesson-author">by <a href="#">{{lesson.teacher}}</a></div>
      </div>
      <hr/>
      <div class="row">
		<div class="span3 lesson-tile-left">
		  <img src={{MEDIA_URL}}{{page.home.hero}} />
		</div>
        <div class="span3">
		  <a class="btn btn-blue">Preview</a>
		  <a class="btn btn-green pull-right">Purchase</a>
		</div>
      </div>
      <hr/>
	  <div class="row">
        <div class="span3">
		  <video width="100%" src={{MEDIA_URL}}{{lesson.video}} />
        </div>
		<div class="span3 lesson-tile-right">
			<p><small>{{lesson.flavor_text}}</small></p>
			<ul class="recipe-info">
              <li>Serves: 4</li>
			  <li>Prep Time: 15 minutes</li>
			  <li>Cooking Time: 35 minutes</li>
            </ul>
		</div>
      </div>

	  <div class="row">
		  <div class="span6 lesson-tile-left">
			<a class="btn btn-tag">Seafood</a>
			<a class="btn btn-tag">Gluten-free</a>
		  </div>
      </div>
    </div>
{% if not newrow %}
</div>
{% endif %}
{% endfor %}

{% endblock %}
