{% extends 'base.html' %}

{% block content %}
<div class="bordered-row main bordered">
    <div class="span7">
 	  <div class="row">
		  <div class="span5 lesson-title">
			<a class="primary" href="{% url lesson lesson.id %}"><h3>{{lesson.title}}</h3></a>
		  </div>
		  <div class="span1">
			<h3 class="pull-right">${{lesson.price|default:"0"}}</h3>
		  </div>
      </div>

      <div class="row">
        <br />
      </div>

      <div class="row">
        <span id="lesson-full-desc" class="span6">{{lesson.flavor_text}}</span>
      </div>

      <div class="row">
        <br />
      </div>

      <div class="lesson-tile-info">
	    <ul class="lesson-tile-info">
          <li>Serves: {{lesson.serving_size}}</li>
      </div>

      <div class="lesson-tile-info">
          <li>Prep: {{lesson.prep_in_min}} minutes</li>
      </div>

      <div class="lesson-tile-info">
          <li>Cooking: {{lesson.cook_in_min}} minutes</li>
        </ul>
      </div>

	  <div class="row">
        <br />
        <br />
      </div>

	  <div class="row">
	  <div class="span3">
        {% include "rating.html" with lesson=lesson%}
	  </div>
	  </div>

	  <div class="row">
        <br />
      </div>


        <div class="row">
          <div class="span6">
          {% for tag in lesson.tags %}
          <a class="btn btn-clearsecondary btn-tags">{{tag|title}}</a>
          {% endfor %}
		  </div>
        </div>

    </div>

    <div class="span5">
	  <div class="row">
		<h3 class="right-padding pull-right">by Chef&#160;<a class="primary miniprofile-btn" href="{% url miniprofile lesson.teacher.id %}">{{lesson.teacher.get_full_name|title}}</a></h3>

		<div id="lesson-photo" class="span5">
		  <img src={{MEDIA_URL}}{{lesson.image}} />
		</div>
	  </div>

	  <div class="row">
        <br />
      </div>

      <div class="row">
        <div class="span2">
   	      <a class="btn btn-white pull-left" href="{% url lessons %}"><small>back to lessons</small></a>
		</div>

		<div class="span2 right-padding pull-right">
		  <a class="btn btn-primary pull-right" href="{% url purchase lesson.id %}">View Lesson</a>
	    </div>
	  </div>
      <br>
  {% url lesson_detail lesson.id as url %}
  {% include "share.html" with url=url %}

<br>
<br>
<br>

  {% url account:register as url %}
  {% include "share.html" with url=url %}





    </div>


</div>

<div class="bordered-row bordered">
    <div class="span12">
        <div class="colored_header">
          <h4>Get&#160;<abbr title='"Everything in Place"'>Mise en Place</abbr> - and get cooking!</h4>
        </div>
    </div>
</div>

<div id="lesson-list-items" class="bordered-row bordered">

    <div class="span3">
 	  <h5>Ingredients</h5>
 	  <ul class="lesson-list">
        {% for i in lesson.ingredients.all.distinct %}
 	    <li>
          <div class="lesson-icon-circle"></div>
          <p>{{i.name}}</p>
        </li>
        {% endfor %}
 	  </ul>
    </div>

    <div class="span3">
	  <h5>Tools</h5>
 	  <ul class="lesson-list">
        {% for l in lesson.tools.all %}
 	    <li><img src="../../static/img/lesson-details-icon.png" /><em>{{l.size}} </em>{{l.name}}<em> {{l.type}}</em></li>
        {% endfor %}
 	  </ul>
    </div>

    <div class="span3">
 	  <h5>Techniques</h5>
 	  <ul class="lesson-list">
        {% for step in lesson.steps.all %}
        {% for tech in step.technique.all %}
 	    <li><img src="../../static/img/lesson-details-icon.png" />{{tech}}</li>
        {% endfor %}
        {% endfor %}
 	  </ul>
    </div>

</div>
{% endblock %}
