{% for lesson in lessons %}
{% cycle "True" "" as newrow silent %}
{% if newrow %}
<div class="bordered-row bordered">
{% endif %}
{% include "lesson_tile.html" with lesson=lesson %}

{% if not newrow or forloop.last %}
</div>
{% endif %}
{% endfor %}

<div class="bordered-row bordered">
    <div class="span6 lesson test-video-lesson">
 	  <div class="row">
		  <div class="span5 lesson-title">
			<a class="green" href="http://tutelageinc.com/demo/salad"><h3 class="no-margin">VIDEO Salad</h3></a>
		  </div>
		  <div class="span1">
			<h3 class="no-margin pull-right"></h3>
		  </div>
      </div>

      <div class="row">
		<div class="span2 offset4 lesson-author">by <a class="miniprofile-btn green" href=""><strong>Chef MikeC</strong></a></div>
      </div>
      <hr/>
      <div class="row">
		<div class="span3 lesson-tile-left">
            <div class="starcontainer">
              <img class="ratingstar" src="{{STATIC_URL}}img/star_on.png"/>
            </div>
            <div class="starcontainer">
              <img class="ratingstar" src="{{STATIC_URL}}img/star_on.png"/>
            </div>
            <div class="starcontainer">
              <img class="ratingstar" src="{{STATIC_URL}}img/star_on.png"/>
            </div>
            <div class="starcontainer">
              <img class="ratingstar" src="{{STATIC_URL}}img/star_on.png"/>
            </div>
            <div class="starcontainer">
              <img class="ratingstar" src="{{STATIC_URL}}img/star_on.png"/>
            </div>
		</div>
        <div class="span3">
		  <a class="btn btn-green pull-right" href="http://tutelageinc.com/demo/salad">Watch</a>
		</div>
      </div>
      <hr/>
	  <div class="row">
        <div class="span3">
            <img class="lesson-tile-image" src="{{MEDIA_URL}}uploads/lessonimage/2012/12/18/1355901955/Screenshot-SALAD_DEMO.mov-1.png"/>
        </div>
		<div class="span3 lesson-tile-right">
			<div class="lesson-tile-description">
			  <small>Awesome</small>
			</div>
			<ul class="lesson-tile-info">
              <li>Serves: 4</li>
			  <li>Prep Time: 10 minutes</li>
			  <li>Cooking Time: 20 minutes</li>
            </ul>
		</div>
      </div>

	  <div class="row">
	    <br />
	  </div>

	  <div class="row">
		  <div class="span6 lesson-tile-tags">
              <a class="btn btn-clearblue btn-tags">Apple</a>
			  <a class="btn btn-clearblue btn-tags">Pumpkin Seeds</a>
			  <a class="btn btn-clearblue btn-tags">Pomegranate</a>
		  </div>
      </div>
    </div>
</div>

{% include "pager.html" with lessons=pager %}
