<div class="span6 lesson">
 	  <div class="row">
		  <div class="span4 lesson-title">
			<h3 class="no-margin">{{lesson.title|title}}</h3>
		  </div>
		  <div class="span2 lesson-author">
			by <a class="miniprofile-btn secondary" href="{% url miniprofile lesson.teacher.id %}"><strong>{{lesson.teacher.get_full_name|title}}</strong></a>
		  </div>
      </div>

      <hr/>

      <div class="row">
		<div class="span3">
            {% include "rating.html" with lesson=lesson%}
		</div>
        <div class="span3">
            {% if request.user == lesson.teacher %}
                <a class="btn btn-secondary" href="{%url edit-lesson lesson.id %}">edit lesson</a>
            {% else %}
		        <a class="btn btn-secondary" href="{%url lesson_detail lesson.id %}">more details</a>
            {% endif %}
            {% if user in lesson.followers.all %}
		        <a class="btn btn-tertiary pull-right" href="{% url lesson lesson.id %}">view</a>
            {% else %}
                <a class="btn btn-tertiary pull-right" href="" onclick="$.colorbox({href:'#purchase-{{lesson.id}}',inline: true}); return false">buy</a>
                <div class="row no-display">
                  {% include "lesson_purchase.html" with lesson=lesson %}
                </div>
            {% endif %}
		</div>
      </div>

      <hr/>

      <div class="row">
        <div class="span6 lesson-tile-image">
            <a href="{%url lesson_detail lesson.id %}"><img src="{{MEDIA_URL}}{{lesson.image}}"/></a>
        </div>
      </div>

<!--
      <div class="row">
	    <div class="span6">
			<div class="lesson-tile-description">
			  <small>{{lesson.flavor_text}}</small>
			</div>
        </div>
	  </div>

      <div class="row">
        <div class="span6">
          <ul class="lesson-tile-info">
            <li>Serves: {{lesson.serving_size}}</li>
            <li>Prep Time: {{lesson.prep_in_min}} minute{{lesson.prep_in_min|pluralize}}</li>
            <li>Cooking Time: {{lesson.cook_in_min}} minute{{lesson.cook_in_min|pluralize}}</li>
          </ul>
        </div>
	  </div>
    -->
    {% if lesson.tags %}
	  <hr/>

      <div class="row">
        <div class="span6 lesson-tile-tags">
          {% for tag in lesson.tags %}
          <a href="{% url search %}?q={{tag}}" class="btn btn-clearprimary btn-tags">{{tag|title}}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    </div>
