{% extends 'base.html' %}

{% block media %}
                <script type="text/javascript">
                  require(["jquery", "lib/jquery.colorbox-min"], function($){
                      $(".tech").colorbox({inline:true, width:"50%", href:function(){
                          return $(this).siblings('.video-row').children('.chef-movie-video');
                       }
                    });
                  });
                </script>
{% endblock %}

{% block content %}
	  <div id="lesson-wrapper" class="bordered-row bordered">
        <div id="lessons" class="carousel slide no-margin">
            <div class="carousel-inner">
                {% for step in lesson.steps.all %}
                {% if forloop.first %}
                <div class="active item">
                {% else %}
                <div class="item">
                {% endif %}
				  
				  
				  <img class="lesson-picture" src="{{MEDIA_URL}}{{step.picture}}" />
                  <div class="step-text no-margin lesson-wrapper-overlay">
					<a class="lesson-nav-btn-top-left" href="#lessons" data-slide="prev"><i class="icon-chevron-left"></i></a>
					<a class="lesson-nav-btn-top-right" href="#lessons" data-slide="next"><i class="icon-chevron-right"></i></a>  
					
					{% if forloop.first %}
					<div class="step-title span6">{{step.title}}</div>
					{% else %}
					<div class="step-title span6">Step {{step.order}}: {{step.title}}</div>
					{% endif %}
					
					<div class="step-technique span5">
					    {% for tech in step.technique.all %}
						<a class="technique-{{forloop.parentloop.counter0}} step-technique-text step-title blue pull-right">Watch 
						  <img class="technique-play-icon" src="{{STATIC_URL}}img/play-button-blue.png" /> 
						  {{tech.title}}</a>
						<!-- this should likely be moved somewhere else -->
						<div class="row no-display video-row">
						  <video class="chef-movie-video span6" controls="controls">
							<!-- sample videos until we have our actual intro video -->
							<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" />
							<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" />
							<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" />
							<!-- fallback  -->
							<p>Your browser does not support HTML5 video.</p>
						  </video>
						</div>
						{% endfor %}
					</div>			
					
					<div class="step-description span12">{{step.text}}</div>
				  </div>
				  
                  <div id="ingredient" class="span4 no-margin lesson-panel">
                      {% for ingredient in step.ingredients.all %}
                        <div class='panel-item ingredient ingredient{{forloop.counter}} ingredient-{{forloop.parentloop.counter0}}-{{forloop.counter}}'> 
                             <div class='lesson-icon-text lesson-icon-ingredients-text'>
                               <strong>
                                 <!-- taking out until fractions can be displayed {{ingredient.number}} -->
                                 {{ingredient.measurement}} {{ingredient.prep}} {{ingredient.ingredient.name}}
                               </strong>
                             </div>
                             <div class='lesson-icon-circle lesson-icon-circle-ingredients'>
                               <!-- add icons once they've been added to the data model
                               <img class='lessonimages' src='../../static/img/icon.pie.png' alt='{{ingredient.name}}' />
                               -->
                             </div>
                         </div>
                      {% endfor %}
                  </div>

                  <div class="span4 pull-right">
                    <div id="tools" class="lesson-panel">
                      {% for tool in step.tools.all %}
                          <div class='panel-item tool tool{{forloop.counter}} tool-{{forloop.parentloop.counter0}}-{{forloop.counter}}'>
							<div class='lesson-icon-circle lesson-icon-circle-tools'>
							</div>
                            <div class='lesson-icon-text lesson-icon-tools-text'>
                              <strong>{{tool.size}} {{tool.type}} {{tool.name}}</strong>
                            </div>
							  <!-- add icons once they've been added to the data model
                              <img class='lessonimages' src='../../static/img/icon.pie.png' alt='{{tool.name}}' />
                              -->
                          </div>
                      {% endfor %}
                    </div>
                  </div>

                </div>
                {% endfor %}
            </div>           
        </div>
	  </div>
	  
      
	  <div class="row no-display">
	    <div id="lesson-timeline" class="">
		  <a class="lesson-nav-btn" href="#lessons" data-slide="prev"><i class="icon-chevron-left"></i></a>
		  <a class="lesson-nav-btn pull-right" href="#lessons" data-slide="next"><i class="icon-chevron-right"></i></a>
		  <div id="lesson-timeline-images">
		    {% for step in lesson.steps.all %}
		    {% if forloop.first %}
		    <img class="lesson-timeline-picture lesson-timeline-picture-active" src="{{MEDIA_URL}}{{step.picture}}"/>
		    {% else %}
            <img class="lesson-timeline-picture" src="{{MEDIA_URL}}{{step.picture}}" />
            {% endif %}                  
		    {% endfor %}
		  </div>
	    </div>
	  </div>

<div class="lesson-components row no-display">
  {% for step in lesson.steps.all %}
  {% for ingredient in step.ingredients.all %}
  <div id="ingredient-{{forloop.parentloop.counter0}}-{{forloop.counter}}" class="lightbox ingredient-lightbox">
     <!-- {{ingredient.number}} -->
     {{ingredient.measurement}} {{ingredient.prep}} {{ingredient.ingredient.name}} 
     <img src="{{MEDIA_URL}}{{ingredient.ingredient.image}}" />
  </div>
  {% endfor %}
  
  {% for tool in step.tools.all %}
  <div id="tool-{{forloop.parentloop.counter0}}-{{forloop.counter}}" class="lightbox tool-lightbox">
     {{tool.size}} {{tool.type}} {{tool.name}}
  </div>
  {% endfor %}
  {% endfor %}
  
  <div id="lesson-technique-videos">
    <video id="technique-7" class="technique-video" width="100%" height="auto" poster="{{STATIC_URL}}videos/orange-zesting-screenshot.png" preload="auto" controls="controls">
      <source src="{{STATIC_URL}}videos/orange-zesting-medium.mp4">
      <source src="{{STATIC_URL}}videos/orange-zesting-medium.ogv">
      <source src="{{STATIC_URL}}videos/orange-zesting-medium.webm">
      <!-- fallback  -->
      <p>Your browser does not support HTML5 video.</p>
    </video>
    
    <video id="technique-9" class="technique-video" width="100%" height="auto" poster="{{STATIC_URL}}videos/apple-cutting-screenshot.png" preload="auto" controls="controls">
      <source src="{{STATIC_URL}}videos/apple-cutting-medium.mp4">
      <source src="{{STATIC_URL}}videos/apple-cutting-medium.ogv">
      <source src="{{STATIC_URL}}videos/apple-cutting-medium.webm">
      <!-- fallback  -->
      <p>Your browser does not support HTML5 video.</p>
    </video>
    
    <video id="technique-10" class="technique-video" width="100%" height="auto" poster="{{STATIC_URL}}videos/pomegranate-seeding-screenshot.png" preload="auto" controls="controls">
      <source src="{{STATIC_URL}}videos/pomegranate-seeding-medium.mp4">
      <source src="{{STATIC_URL}}videos/pomegranate-seeding-medium.ogv">
      <source src="{{STATIC_URL}}videos/pomegranate-seeding-medium.webm">
      <!-- fallback  -->
      <p>Your browser does not support HTML5 video.</p>
    </video>
  </div>
</div>

<script type="text/javascript">
pagelogic = function(){
    {% for step in lesson.steps.all %}
    {% for ingredient in step.ingredients.all %}
    $(".ingredient-{{forloop.parentloop.counter0}}-{{forloop.counter}}").colorbox({inline:true, width:"50%", href:"#ingredient-{{forloop.parentloop.counter0}}-{{forloop.counter}}"});
    {% endfor %}
    
    {% for tool in step.tools.all %}
    $(".tool-{{forloop.parentloop.counter0}}-{{forloop.counter}}").colorbox({inline:true, width:"50%", href:"#tool-{{forloop.parentloop.counter0}}-{{forloop.counter}}"});
    {% endfor %}
    {% endfor %}
    
    {% for step in lesson.steps.all %}
    {% for tech in step.technique.all %}
    $(".technique-{{forloop.parentloop.counter0}}").colorbox({inline:true, width:"50%", href:"#technique-{{forloop.parentloop.counter0}}"});
    {% endfor %}
    {% endfor %}
    
    $(document.documentElement).keyup(function (event) {
      // handle cursor keys
	  if (event.keyCode == 37 || event.keyCode == 38) {
        $('a.lesson-nav-btn-top-left').trigger('click');
      } 
      else if (event.keyCode == 39 || event.keyCode == 40) {
		$('a.lesson-nav-btn-top-right').trigger('click');
      }
    });
        
};
</script>

<!--
 <div id="lesson-wrapper" class="row"> -->
<!--     <div class="span4 no-margin"> -->
<!--       <div id="step_text" class="lesson-wrapper-overlay"><strong id="step_title"></strong></div> -->

<!--       <div id="ingredient" class="lesson-panel"></div> -->
<!-- 	</div> -->

<!-- 	<div class="span4 pull-right"> -->
<!--       <div id="tools" class="lesson-panel"></div> -->
<!-- 	</div> -->

<!-- 	<div id="step_buttons" class="no-display"> -->
<!--     <a href="#" class="tools">Tools</a> -->
<!--     <a href="#" id="ingredient-1" class="ingredients">Ingredients</a> -->
<!-- 	</div> -->

<!--     <div class="no-display"> -->
<!--     <div id="tools-0"></div> -->
<!--     <div id="ingredient-0"></div> -->
<!--     </div> -->

<!-- </div> -->


{% endblock %}
