  <div id="login" class="span8" >
	<div class="row login_info">
	  <div class="span8">
	    <h4>Step into <em>Culination</em></h4>
	  </div>
	</div>
	<hr />
	<div class="row">
	  <div class="span4">
		<form id="login-form" class="login-form" action="{% url account:auth_login %}" method="post">
          {% csrf_token %}
		  <div id="email">
			<h5>Email</h5>
			<input name="username"
                   type="email"
                   class="login-input"
                   placeholder=""
                   value="{{login_form.username.value|default:""}}"
                   data-validation-engine="validate[required,custom[email]]"
                   data-errormessage-value-missing="Email is required!"
                   data-errormessage-custom-error="Email must be in the format 'user@domain.com'"
                   />
            {{login_form.username.errors}}
		  </div>
		  <div id="password">
			<h5>Password</h5>
			<input name="password"
                   class="login-input"
                   type="password"
                   placeholder=""
                   data-validation-engine="validate[required]"
                   data-errormessage-value-missing="Password is required!"
                   />
            {{login_form.non_field_errors }}
            {{login_form.password.errors}}
		  </div>

		  <div class="row login-text login-actions">
			<div class="span2">
			  <a href="#" class="tertiary login-btn-text vertical-align forgot-pass-btn pull-left">Forgot password?</a>
			</div>
			<div class="span2">
			  <input type="submit" class="btn btn-primary btn-login pull-right disabled" value="login">
			</div>
		  </div>

		  <hr />

		  <div class="row">
			<div class="span2">
			  <span class="login-text"><p class="login-btn-text">Not part of <em>Culination</em>?</p></span>
			</div>
			<div class="span2">
			  <a class="btn btn-primary btn-login signup-btn pull-right">
				signup
			  </a>
			</div>
		  </div>
          <input type="hidden" name="next" value="{{login_form.next.value|default:request.get_full_path}}" >
		</form>
	  </div>

	  <div class="span4">
		<div class="tip">
		  <h5><em>Culination</em> Tip #001</h5>
		  <p>Like a Chef on <em>tutelage</em>? You can view each chef’s <em>tutelage</em> lessons, their style, specialties and personality quirks by clicking on their username in a lesson.</p>
		</div>
	  </div>
	</div>
  </div>
