<div id="login" >
<h1>Login!</h1>
<form class="login-form" target="/login" action="post">
  <div id="email">
    Email<br>
    <input type="text" placeholder="Email">
  </div>
  <div id="password">
    Password<br>
    <input type="password" placeholder="Password">
  </div>
  <a href="#" class="forgot-pass-btn">Forgot password?</a>
  <a class="btn btn-green">
    login
  </a>
  <hr />
  Not part of Wellganic yet?
  <a class="btn btn-green">
    signup
  </a>
</form>
<div class="tip">
  Wellganic Tip #001
  ASDFASDFASDFASFD
</div>
</div>
