<div class="no-display">
  <div id="login">
	<div class="row login_info">
	  <h4>Step into Wellganic</h4>
	</div>

	<hr />

	<div class="row">
	  <div class="span4">
		<form class="login-form" target="/login" action="post">
		  <div id="email">
			<h5>Email</h5>
			<input class="login-input" type="text" placeholder="">
		  </div>
		  <div id="password">
			<h5>Password</h5>
			<input class="login-input" type="password" placeholder="">
		  </div>

		  <div class="row login-text login-actions">
			<div class="span2">
			  <a href="#" class="forgot-pass-btn vertical-align-text">Forgot password?</a>
			</div>
			<div class="span2">
			  <a class="btn btn-green btn-login pull-right">
				login
			  </a>
			</div>
		  </div>

		  <hr />

		  <div class="row">
			<div class="span2">
			  <span class="login-text">Not part of Wellganic?</span>
			</div>

			<div class="span2">
			  <a class="btn btn-green btn-login pull-right">
				signup
			  </a>
			</div>
		  </div>

		</form>
	  </div>

	  <div class="span4">
		<div class="tip">
		  <h5>Wellganic Tip #001</h5>
		  <p>Like a Chef on Wellganic? You can view each chef’s Wellganic lessons, their style, specialties and personality quirks by clicking on their username in a lesson.</p>
		</div>
	  </div>

	</div>
  </div>
</div>
