{% extends 'base.html' %}

{% block content %}
<div class="bordered-row main bordered">

    <div class="span12">
	  <div class="profile-btn">
	    <a class="btn btn-lightgray btn-profile" href="{%url profile u.id%}">
		  account
		</a>
		<a class="btn btn-darkgray btn-profile pull-right">
		  tutoring
		</a>
	  </div>
	</div>

	<div class="span12">
	  <div class="row">
	    <hr class="profile-hr"/>
	  </div>
	  <div class="row">
	    <div class="span8">
		  <div class="mylessons-title">
            {% if u == user %}
            <h3>Lessons I'm Tutoring</h3>
            {% else %}
			<h3>Lessons {{u.get_full_name}} is Tutoring</h3>
            {% endif %}
		  </div>
	    </div>

	    <div class="span4 pull-right">
		  <a class="btn btn-green btn-save pull-right" href="{% url add-lesson %}">
		  create new lesson
		  </a>
	    </div>
	  </div>
	</div>

</div>

{% include "lesson_base.html" with lessons=lessons %}

{% endblock %}
