{% extends 'base.html' %}

{% block content %}
<div class="bordered-row main bordered">

    <div class="span12">
	  <div class="profile-btn">
	    <a class="btn btn-green btn-profile" href="{%url profile u.id%}">
		  profile
		</a>
		<a class="btn btn-darkgray btn-profile pull-right">
		  my lessons
		</a>
	  </div>
	</div>

	<div class="span12">
	  <div class="row">
	    <hr class="profile-hr"/>
	  </div>
	  <div class="row">
		<div class="span6">
		  <div class="mylessons-title">
            {% if u == user %}
            <h4>Lessons I'm Learning</h4>
            {% else %}
			<h4>Lessons {{u.get_full_name}} is Learning</h4>
            {% endif %}
		  </div>
	    </div>

		{% if u.get_profile.professional_chef %}
	    <div class="span3">
		  <div class="mylessons-title">
            {% if u == user %}
            <h4>Lessons I'm Tutoring</h4>
            {% else %}
			<h4>Lessons {{u.get_full_name}} is Tutoring</h4>
            {% endif %}
		  </div>
	    </div>

	    <div class="span3 my-lessons-create-lesson">
		  <a class="btn btn-green btn-save pull-right" href="{% url add-lesson %}">
		  create new lesson
		  </a>
	    </div>
        {% endif %}

	  </div>
	</div>

</div>

{% include "lesson_base.html" with lessons=lessons %}

{% endblock %}
