<div class="navbar">
  <div class="navbar-inner">
  <a class='brand' href="/">Wellganic</a>
  <ul class="nav pull-right">
      <li class="divider-vertical"></li>
      <li>
        <div class='box'>
          <div class="nav-icon">
            <img src='{{ STATIC_URL }}img/tutor.png'/>
          </div>
          <p>tutor</p>
        </div>
      </li>
      <li>
        <div class='box'>
          <div class="nav-icon">
            <img src='{{ STATIC_URL }}img/learn.png'/>
          </div>
          <p>learn</p>
        </div>
      </li>
      <li>
        <div class='box'>
          <div class="nav-icon">
            <img src='{{ STATIC_URL }}img/about.png'/>
          </div>
          <p>about</p>
        </div>
      </li>
      <li>
        <div class='box'>
          <div class="nav-icon">
            <img src='{{ STATIC_URL }}img/signup.png'/>
          </div>
          <p>signup</p>
        </div>
      </li>
      <li>
        <div class='box'>
          <div class="nav-icon">
            <img src='{{ STATIC_URL }}img/login.png'/>
          </div>
          <p>login</p>
        </div>
      </li>
    </ul>

  </div>
</div>
