<div class="navbar" >
  <div class="navbar-inner">
  <a class="brand" href="/"><img class="navbar-logo" src="{{STATIC_URL}}img/culination-logo.png" /> </a>
  <ul class="nav pull-right">
      <li class="divider-vertical"></li>
      <li>
        <a href="/chefs/">
          <div class="box">
            <div class="nav-icon sprite-icons-tutor">
            </div>
            <h5>chefs</h5>
          </div>
        </a>

	  <li>
        <a href="{% url lessons %}">
		  <div class="box">
            <div class="nav-icon sprite-icons-learn">
            </div>
            <h5>lessons</h5>
          </div>
        </a>
      </li>

	  <li>
        <a href="{% url ask %}">
          <div class="box box-ask">
            <div class="nav-icon sprite-icons-ask">
            </div>
            <h5>requests</h5>
          </div>
        </a>
      </li>

      <li>
        <a href="/about/">
        <div class="box">
          <div class="nav-icon sprite-icons-about">
          </div>
          <h5>about</h5>
        </div>
        </a>
      </li>

	  <!--
	  comment out signup/login or logout/my as needed
	  -->
      {% if not request.user.is_authenticated %}
      <li class="signup-btn">
        <div class="box">
          <div class="nav-icon sprite-icons-signup">
          </div>
          <h5>signup</h5>
        </div>
      </li>

      <li class="login-btn">
        <div class="box box-login">
          <div class="nav-icon sprite-icons-login">
          </div>
          <h5>login</h5>
        </div>
      </li>
      {% else %}

      <li class="logout-btn">
        <a href="{% url account:logout %}?next={{request.get_full_path }}">
          <div class="box box-logout">
            <div class="nav-icon sprite-icons-logout">
            </div>
            <h5>log out</h5>
          </div>
        </a>
      </li>

      <li class="my-btn">
        <a href="{% url mylessons request.user.id %}">
          <div class="box box-my">
            <div class="nav-icon sprite-icons-my">
            </div>
            <h5>culination</h5>
          </div>
        </a>
      </li>
      {% endif %}

    </ul>
  </div>
</div>
