<div class="no-display">
      <div class="reset_password" class="lightbox">
		<div class="row">
		  <div class="span4">
		    <h4>Reset Password</h4>

		    <hr />

			<p>Enter a new password for your account.
			</p>
			
			<form class="login-form" target="/login" action="post">
			  <div id="new_password">
				<h5>New Password</h5>
				<input class="login-input" type="password" placeholder="">
			  </div>

			  <div id="confirm_password">
				<h5>Confirm Password</h5>
				<input class="login-input" type="password" placeholder="">
			  </div>
			  
			  <hr />

			  <div class="row">

			    <div class="span2">
				  <div class="signup-btn">
					<a class="btn btn-white btn-login">
					  nevermind
				    </a>
				  </div>
				</div>

				<div class="span2">
				  <div class="signup-btn">
				    <a class="btn btn-green btn-login pull-right">
					  reset
					</a>
				  </div>
			    </div>
			  </div>

			</form>
		  </div>

		</div>
	  </div>
</div>
