<div class="span6 social-media-sharing">
<div addthis:url="http://culination.co{{url}}" class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_button_pinterest_pinit" pi:pinit:url="http://culination.co{{url}}" pi:pinit:media="{{ STATIC_URL }}img/culination-logo-full.png" pi:pinit:layout="horizontal"></a>
</div>
</div>
<!-- use for live site
<div class="span6 social-media-sharing">
<div addthis:url="http://culination.com{{url}}" class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a> 
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a> 
<a class="addthis_button_pinterest_pinit"></a>
</div>
</div>
-->