<div class="span6 social-media-sharing">
  <div class="social-media-sharing-text">Share the potential</div>
  
  <div addthis:url="http://culination.co{{url}}" class="social-media-sharing-icons addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_facebook"><img src="{{ STATIC_URL }}img/icons/facebook.png" /></a>
    <a class="addthis_button_twitter"><img src="{{ STATIC_URL }}img/icons/twitter.png" /></a>
    <a class="addthis_button_google_plusone_share"><img src="{{ STATIC_URL }}img/icons/google-plus.png" /></a>
    <a class="addthis_button_pinterest_share"><img src="{{ STATIC_URL }}img/icons/pinterest.png" /></a>
  </div>

</div>