      <div id="signup">
		<div class="row">
		  <div class="span4">
			  
		    <h4>Sign up to start cooking</h4>		    

			<form class="signup-form" method="post" action="{% url account:register %}">
				
			  <hr/>
			  	
              {% csrf_token %}
			  <div id="firstname">
				<h5>First Name</h5>
				<input name="first_name"
					   class="signup-input"
					   type="text"
                       value="{{signup_form.first_name.value|default:""}}"
					   placeholder=""
					   data-validation-engine="validate[required]"
					   data-errormessage-value-missing="First name is required!">
				{{signup_form.first_name.errors}}
			  </div>
			  <div id="lastname">
				<h5>Last Name</h5>

				<input name="last_name"
					   class="signup-input"
					   type="text"
                       value="{{signup_form.first_name.value|default:""}}"
					   placeholder=""
					   data-validation-engine="validate[required]"
					   data-errormessage-value-missing="Last name is required!">
				{{signup_form.last_name.errors}}
			  </div>
			  <div id="email">
				<h5>Email</h5>
				<input name="email"
					   class="signup-input"
					   type="email"
					   placeholder=""
                       value="{{signup_form.email.value|default:""}}"
					   data-validation-engine="validate[required,custom[email]]"
					   data-errormessage-value-missing="Email is required!">
			    {{signup_form.email.errors}}
			  </div>
			  <div id="password">
				<h5>Password</h5>
				<input name="password1"
					   class="signup-input"
					   type="password"
					   placeholder=""
					   data-validation-engine="validate[required]"
					   data-errormessage-value-missing="Password is required!">
				{{signup_form.passsword1.errors}}
			  </div>
			  <div id="confirm-password">
				<h5>Confirm Password</h5>
				<input name="password2"
					   class="signup-input"
					   type="password"
					   placeholder=""
					   data-validation-engine="validate[required]"
					   data-errormessage-value-missing="Enter your password twice!">
				{{signup_form.passsword2.errors}}
				{{ signup_form.non_field_errors }}
			  </div>
			  <div id="contact-checkbox" class="vertical-text-align">
                {{signup_form.contact.errors}}
			    <label class="checkbox signup-checkbox">
			      <input type="checkbox" name="contact" value="">
				  Send me updates, news, and offers.
				</label>
			  </div>
			  <div id="tos-checkbox" class="vertical-text-align">
				<label class="checkbox signup-checkbox">
			      <input type="checkbox" name="tos" value="true" {% if signup_form.tos.value %}checked {% endif %}>
			      I have read and agree to the
			      <p class="tos-link"><a class="tertiary" href="#">Terms of Service</a></p>
			    </label>
                {{signup_form.tos.errors}}
			  </div>

			  <hr />

			  <div class="row">

			    <div class="span2">
				  <div class="cancel-btn">
					<a class="btn btn-white btn-login">
					  cancel
				    </a>
				  </div>
				</div>

				<div class="span2">
				    <input type="submit" class="btn btn-primary btn-login pull-right" value="signup">
			    </div>
			  </div>

              <div class="row">
                <div class="span2 offset2 login-text">
                  <a href="#" class="tertiary login-btn">
                    or Login
                  </a>
                </div>
              </div>
              <input type="hidden" name="next" value="{{signup_form.next.value|default:request.get_full_path}}">

			</form>
		  </div>
		</div>
	  </div>
