      <div class="">
		<div class="row">
		  <div class="span4">
		    <h4>Sign up to start cooking</h4>
		    
		    <hr />
		    
			<form class="login-form" target="/login" action="post">
			  <div id="firstname">
				<h5>First Name</h5>
				<input class="login-input" type="text" placeholder="">
			  </div>
			  <div id="lastname">
				<h5>Last Name</h5>
				<input class="login-input" type="text" placeholder="">
			  </div>
			  <div id="email">
				<h5>Email</h5>
				<input class="login-input" type="text" placeholder="">
			  </div>
			  <div id="password">
				<h5>Password</h5>
				<input class="login-input" type="password" placeholder="">
			  </div>
			  <div id="confirm-password">
				<h5>Confirm Password</h5>
				<input class="login-input" type="password" placeholder="">
			  </div>
			  <div id="contact-checkbox">
			    <input type="checkbox" name="contact-checkbox" value="">
			    <span class="vertical-text-align">Send me updates, news, and offers.</span>
			  </div>
			  
			  <hr />
			  			  
			  <div class="row">
				  
			    <div class="span2">
				  <div class="signup-btn">
					<a class="btn btn-green btn-login pull-right">
					  signup
				    </a>
				  </div>
				</div>
				
				<div class="span2">
				  <div class="signup-btn">
				    <a class="btn btn-white btn-login pull-right">
					  cancel
					</a>
				  </div>
			    </div>
			  </div>
		
			</form>
		  </div>
		  
		</div>
	  </div>	 