      <div id="signup">
		<div class="row">
		  <div class="span6 offset1">
		    <h4>Sign up to start cooking</h4>

		    <hr/>

			<form class="signup-form" method="post" action="{% url account:register %}">
              {% csrf_token %}
			  <div id="firstname">
				<h5>First Name</h5>
				<input name="first_name" class="login-input" type="text" placeholder="First Name">
				{{signup_form.first_name.errors}}
			  </div>
			  <div id="lastname">
				<h5>Last Name</h5>
				<input name="last_name" class="login-input" type="text" placeholder="Last Name">
				{{signup_form.last_name.errors}}
			  </div>
			  <div id="email">
				<h5>Email</h5>
				<input name="email" class="login-input" type="text" placeholder="Email">
			    {{signup_form.email.errors}}
			  </div>
			  <div id="password">
				<h5>Password</h5>
				<input name="password1" class="login-input" type="password" placeholder="Password">
				{{signup_form.passsword1.errors}}
			  </div>
			  <div id="confirm-password">
				<h5>Confirm Password</h5>
				<input name="password2" class="login-input" type="password" placeholder="Password again">
				{{signup_form.passsword2.errors}}
				{{ signup_form.non_field_errors }}
			  </div>
			  <div id="contact-checkbox" class="vertical-text-align">
                {{signup_form.contact.errors}}
			    <input type="checkbox" name="contact" value="">
			    <span class="">Send me updates, news, and offers.</span>
			  </div>
			  <div id="tos-checkbox" class="vertical-text-align">
                {{signup_form.tos.errors}}
			    <input type="checkbox" name="tos" value="true">
			    <span class="">I have read and agree to the Terms of Service</span>
			  </div>

			  <hr />

			  <div class="row">

			    <div class="span2">
				  <div class="cancel-btn">
					<a class="btn btn-white btn-login">
					  cancel
				    </a>
				  </div>
				</div>

				<div class="span2">
				    <input type="submit" class="btn btn-green btn-login pull-right" value="signup">
			    </div>
			  </div>

              <div class="row">
                <div class="span2 offset2 login-text">
                  <a href="#" class="login-btn">
                    or Login
                  </a>
                </div>
              </div>
              <input type="hidden" name="next" value="{{signup_form.next.value|default:request.get_full_path}}">

			</form>
		  </div>
		</div>
	  </div>
