{% extends 'base.html' %}
{% block media %}
<script type="text/javascript">
require(["jquery", "lib/jquery.iframe-transport", "lib/jquery.fileupload", "lib/jquery.formset"], function($){
    add_step = "<div class='row'>" +
        "				  <div class='span1 pull-left'>" +
        "					<a class='btn btn-primary btn-save btn-add pull-left'>" +
        "					<strong>&#43;</strong>" +
        "					</a>" +
        "				  </div>" +
        "				  <div class='span2 create-lesson-add-step'>" +
        "				    <span class='vertical-align'><strong>add step</strong></span>" +
        "				  </div>" +
        "			    </div>"



    $('.step_formset').formset({
        prefix: '{{ form.prefix }}',
        addText: add_step,
        added: function(row){
            $(".orderval").each(function(idx, element){
                $(element).attr("value", idx)
            })
        }
    });
    $(".orderval").each(function(idx, element){
        $(element).attr("value", idx)
    })


    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
		/*
            $.each(data.result, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });*/
        },
	progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css('width', progress + '%').html(progress + "%");
    	}
    });
});

</script>
{% endblock %}

{% block content %}
{% autoescape off %}
<div class="bordered-row main bordered">

  <div class="span6">
	<div class="create-lesson-title">
	  <h2>Create New Lesson</h2>
	</div>
  </div>

  <div class="span2 vertical-align">
	<div class="create-step-btn">
	  <a class="btn btn-lightgray btn-create-step pull-left">
		<span class="create-step-text">step &#160; &#160;</span><strong>1</strong>
	  </a>
	</div>
  </div>

  <div class="span2 btn-create-step-2">
	<div class="create-step-btn">
	  <a class="btn btn-lightgray btn-create-step">
		<span class="create-step-text">step &#160; &#160;</span><strong>2</strong>
	  </a>
	</div>
  </div>

  <div class="span2">
	<div class="create-step-btn">
	  <a class="btn btn-darkgray btn-create-step pull-right">
		<span class="create-step-text">step &#160; &#160;</span><strong>3</strong>
	  </a>
	</div>
  </div>

  <div class="span12">
	<div class="row">
	  <hr class="profile-hr" />
	</div>

	<div class="row">
	  <div class="span8 create-lesson-title-step1">
		<h3 class="colored-header">3. Steps &amp; Techniques</h3>
	  </div>

	  <div class="span4 pull-right">
		<a href="#lesson-help" class="tertiary create-lesson-help-btn pull-right">Need help?</a>
	  </div>
	</div>


	<div class="row">
	  <hr class="create-lesson-hr"/>
	</div>
	<form class="profile-form" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.management_form }}
      {% for step in form %}
      <span class="step_formset">
	    <div class="row">
          {{step.id}}
          {% if step.non_field_errors %}
          {{step.non_field_errors}}
          {% endif %}

		  <div class="span1">
			<div id="create-lesson-step-number">
			  <h5 class="step_counter"></h5>
			</div>
		  </div>

		  <div class="span5">
			<div id="create-lesson-form-3-left">
			  <div id="create-lesson-step-title" class="create-lesson-field-mid">
				<h5>Step Title</h5>
                {{step.title}}
			  </div>
              {{step.title.errors}}

			  <div id="createlessonstepdesc">
				<h5>Step Description (200 characters max)</h5>
				{{step.text}}
			  </div>
              {{step.text.errors}}
			</div>
		  </div>

		  <div class="span6">
			<div id="create-lesson-form-3-right">

			  <div class="row">
				<div class="span3">
				  <div id="createlessontitle">
					<h5>Step Image</h5>
			        {{step.picture}}
				  </div>
                  {{step.picture.errors}}
				</div>

				<div class="span3">
				  <div id="lessonmealtype" class="">
					<h5>Technique Used</h5>
                    {{step.technique}}
				  </div>
                  {{step.technique.errors}}
				</div>
			  </div>

			  <div class="row">
				<div class="span3">
				  <div id="lesson-ingredients" class="create-lesson-field-small">
					<h5>Ingredients Used</h5>
					{{step.ingredients}}
				  </div>
                  {{step.ingredients.errors}}
				</div>

				<div class="span3">
				  <div id="lesson-tools" class="create-lesson-field-small">
					<h5>Tools Used</h5>
                    {{step.tools}}
				  </div>
                  {{step.tools.errors}}
				</div>
			  </div>
			</div>
		  </div>
        </div>

    <input type="hidden" name="{{step.order.html_name}}" class="orderval" value="{{step.order.value}}" id="{{step.order.auto_id}}">
      </span>
    {% endfor %}

	  </div>

	  <div class="row">
	    <hr/>
	  </div>


	  <div class="row">
	    <hr />
	  </div>

	  <div class="row">
	    <div class="span10">
		  <a class="btn btn-primary btn-save pull-right" href="{% url lesson_ingredients lesson_id=lesson.id %}">
		    back
		  </a>
	    </div>
	    <div class="span1 pull-right">
		  <input type="submit" value="preview" class="btn btn-primary
                                                      btn-save">

	</form>

	</div>
	</div>
  </div>
</div>

<div class="no-display">
      <div id="lesson-help">
		<div class="row">
		  <div class="span6">
		    <h5>Please enter your question and we will respond as soon as we can.</h5>

		    <hr />

			<div id="createlessondesc">
			  <form>
				<textarea class="create-lesson-desc create-lesson-question"></textarea>
			  </form>
			</div>				
			
			<hr />

			<div class="row">
			    <div class="span4">
				  <div class="login-btn">
					<a class="btn btn-white btn-login pull-right">
					  nevermind
				    </a>
				  </div>
				</div>

				<div class="span2">
				    <a class="btn btn-primary btn-login pull-right">
					  send
					</a>
			    </div>
			</div>

		  </div>
		</div>
	  </div>
</div>

  {% endautoescape %}
  {% endblock %}
