{% extends 'base.html' %}

{% block content %}
{% autoescape off %}
<div class="bordered-row main bordered">

    <div class="span6">
	  <div class="create-lesson-title">
	    <h2>Create New Lesson</h2>
	  </div>
	</div>

	<div class="span2 vertical-align">
	  <div class="create-step-btn">
	    <a class="btn btn-lightgray btn-create-step pull-left">
		  <span class="create-step-text">step &#160; &#160;</span><strong>1</strong>
		</a>
	  </div>
	</div>

	<div class="span2 btn-create-step-2">
	  <div class="create-step-btn">
		<a class="btn btn-lightgray btn-create-step">
		  <span class="create-step-text">step &#160; &#160;</span><strong>2</strong>
		</a>
	  </div>
	</div>

	<div class="span2">
	  <div class="create-step-btn">
		<a class="btn btn-darkgray btn-create-step pull-right">
		  <span class="create-step-text">step &#160; &#160;</span><strong>3</strong>
		</a>
	  </div>
	</div>

  <div class="span12">
	<div class="row">
	  <hr class="profile-hr" />
	</div>

	<div class="row">
	  <div class="span8 create-lesson-title-step1">
		<h3 class="colored-header">3. Steps &amp; Techniques</h3>
	  </div>

	  <div class="span4 pull-right">
		<a href="#" class="create-lesson-help-btn pull-right">Need help?</a>
	  </div>
	</div>

	<div class="row">
	  <hr class="create-lesson-hr"/>
	</div>

	<div class="row">
	  <form class="profile-form" target="" action="post">
		  <div class="span1">
			<div id="create-lesson-step-number">
				<h5>1&#46;</h5>
			</div>
		  </div>

		  <div class="span5">
			<div id="create-lesson-form-3-left">
				<div id="create-lesson-step-title" class="create-lesson-field-mid">
				  <h5>Step Title</h5>
				  <input class="create-lesson-input-mid" type="text" placeholder="" required>
				</div>

				<div id="createlessonstepdesc">
				  <h5>Step Description (200 characters max)</h5>
				  <textarea class="create-lesson-input-mid create-lesson-desc" required></textarea>
				</div>



			</div>
		  </div>

		  <div class="span6">
			<div id="create-lesson-form-3-right">

				<div class="row">
				  <div class="span3">
					<div id="createlessontitle">
					  <h5>Step Start Time (mm:ss)</h5>
					  <input class="create-lesson-input-menu-small" type="time" min="00:00" max="60:00" step="1" name="steptime" required>
					</div>
				  </div>

				  <div class="span3">
					<div id="lessonmealtype" class="">
					  <h5>Technique Used</h5>
					  <select class="create-lesson-input-menu-mid" name="mealtype" required>
						<option>Fileting a Fish</option>
						<option>Broiling</option>
						<option>Using a Baster</option>
				      </select>
					</div>
				  </div>
				</div>

				<div class="row">
				  <div class="span3">
					<div id="lastname" class="create-lesson-field-small">
					  <h5>Ingredients Used</h5>
					  <select class="create-lesson-input-menu" name="lessoncategory" multiple="multiple">
						<option>Seafood</option>
						<option>Chicken</option>
						<option>Tofu</option>
					  </select>
					</div>
				  </div>

				  <div class="span3">
					<div id="email" class="create-lesson-field-small">
					  <h5>Tools Used</h5>
					  <select class="create-lesson-input-menu" name="lessoncategory" multiple="multiple">
						<option>Large Knife</option>
						<option>1/3 teaspoon</option>
						<option>Medium Frying Pan</option>
					  </select>
					</div>
				  </div>

				</div>



			</div>
		  </div>

	  </form>
	</div>

	<div class="row">
	  <hr class=""/>
	</div>

	<div class="row">
	  <div class="span1 pull-left">
	    <a class="btn btn-green btn-save btn-add pull-left">
		  <strong>&#43;</strong>
		</a>
	  </div>

	  <div class="span2 create-lesson-add-ingredient">
		<span class="vertical-align"><strong>add step</strong></span>
	  </div>
	</div>

	<div class="row">
	  <hr />
	</div>

	<div class="row">
	  <div class="span10">
		<a class="btn btn-green btn-save pull-right">
		  back
		</a>
	  </div>
	  <div class="span1 pull-right">
		<a class="btn btn-green btn-save pull-right">
		  preview
		</a>
	  </div>
	</div>


  </div>
</div>


  {% endautoescape %}
  {% endblock %}
