
{% extends 'base.html' %}
{% block media %}
<script type="text/javascript">
require(["jquery", "lib/jquery.iframe-transport", "lib/jquery.fileupload", "lib/jquery.formset"], function($){
    add_step = "<div class='row'>" +
        "				  <div class='span1 pull-left'>" +
        "					<a class='btn btn-green btn-save btn-add pull-left'>" +
        "					<strong>&#43;</strong>" +
        "					</a>" +
        "				  </div>" +
        "				  <div class='span2 create-lesson-add-step'>" +
        "				    <span class='vertical-align'><strong>add step</strong></span>" +
        "				  </div>" +
        "			    </div>"



    $('.step_formset').formset({
        prefix: '{{ form.prefix }}',
        addText: add_step,
        added: function(row){
            $(".orderval").each(function(idx, element){
                $(element).attr("value", idx)
            })
        }
    });
    $(".orderval").each(function(idx, element){
        $(element).attr("value", idx)
    })


    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
		/*
            $.each(data.result, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });*/
        },
	    progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css('width', progress + '%').html(progress + "%");
    	}
    });
});

</script>
{% endblock %}

{% block content %}
{% autoescape off %}
<div class="bordered-row main bordered">

  <div class="span6">
	<div class="create-lesson-title">
	  <h2>Create New Lesson</h2>
	</div>
  </div>

  <div class="span2 vertical-align">
	<div class="create-step-btn">
	  <a class="btn btn-lightgray btn-create-step pull-left">
		<span class="create-step-text">step &#160; &#160;</span><strong>1</strong>
	  </a>
	</div>
  </div>

  <div class="span2 btn-create-step-2">
	<div class="create-step-btn">
	  <a class="btn btn-lightgray btn-create-step">
		<span class="create-step-text">step &#160; &#160;</span><strong>2</strong>
	  </a>
	</div>
  </div>

  <div class="span2">
	<div class="create-step-btn">
	  <a class="btn btn-darkgray btn-create-step pull-right">
		<span class="create-step-text">step &#160; &#160;</span><strong>3</strong>
	  </a>
	</div>
  </div>

  <div class="span12">
	<div class="row">
	  <hr class="profile-hr" />
	</div>

	<div class="row">
	  <div class="span8 create-lesson-title-step1">
		<h3 class="colored-header">3. Video</h3>
	  </div>

	  <div class="span4 pull-right">
		<a href="#" class="create-lesson-help-btn pull-right">Need help?</a>
	  </div>
	</div>


    <div class="row">
        <div class="span8">
	        <form>
	            {%csrf_token%}
	            <div id="firstname" class="">
				    <h5>Select Your Video</h5>
				    <input class="create-lesson-input-file" id="fileupload"
				           type="file" data-url='{% url add-lesson-video lesson.id %}' name="video" />
				    <div id="progress" style="height:18px;background:gray; width:300px">
					    <div class="bar" style="width: 0%; height:100%;background:green;">0%</div>
	                </div>
                </div>
            </form>
        </div>
    </div>


	</div>
	</div>
  </div>
</div>


  {% endautoescape %}
  {% endblock %}
