{% load mezzanine_tags %}
<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>Culination - Taste Your Potential</title>
    <link rel='stylesheet' href='{{ STATIC_URL }}css/main.css' />
    <link rel='stylesheet' href='{{ STATIC_URL }}css/splash.css' />
    <link rel='shortcut icon' href='{{ STATIC_URL }}img/favicon.ico' />
    <link rel='apple-touch-icon' href="">

    <meta name='title' content="Culination - Taste Your Potential" />
    <meta name='description' content="I want to make my kitchen a place for inspiration, not intimidation. That's why I want to join Culination." />

    <!-- Google Site Verification -->
    <meta name='google-site-verification' content="" />

    <!-- Facebook Open Graph -->
    <meta property="fb:admins" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:title" content="Culination - Taste Your Potential" />
    <meta property="og:url" content="http://culination.co" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="I want to make my kitchen a place for inspiration, not intimidation. That's why I want to join Culination." />
    <meta property="og:image" content="http://wellganic-tutelage.dotcloud.com/static/img/culination-logo-full.png" />
    <meta property="fb:page_id" content="" />

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39154704-1']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript">
            Stripe.setPublishableKey('pk_ql6Y3hAzG1yNZRTgdy5I6O7wMzbES');
    </script>

    <script data-main="{{STATIC_URL}}js/{% block jsmain %}main{%endblock%}" src="{{STATIC_URL}}js/require/require-jquery.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('.container').css({
            position:'absolute',
            left: ($(window).width() - $('.container').outerWidth())/2,
            top: ($(window).height() - $('.container').outerHeight())/4
        });
    });
    </script>
  </head>
  <body>
    <!-- AddThis Analytics -->
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true, services_overlay:'facebook,tumblr,more'};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-513a9c4843710012"></script>  
    
    <div class="container">
      <div class="row">
        <div class="span6 logo-slogan">
          <img class="logo pinit" src="{{ STATIC_URL }}img/culination-logo-full.png" />
          <div class="tagline">TASTE YOUR POTENTIAL</div>
          <div class="slogan">
            <h2>Learn to cook while you cook</h2>
            <h2>and reward yourself for doing it.</h2>
          </div>
          {% include "share.html" %}
        </div>
        <div class="span6 splash-image">
          <img class="pinit" src="{{ STATIC_URL }}img/hero-lessons.png" />
        </div>
      </div>
      
      <hr />
      
      <div class="row">
        <div class="span6 splash-signup">
        {% if signup_email %}
          <h3 class="signup-thanks">Thank you. We'll let you know when your table is ready :)</h3><h3>{{signup_email}}</h3>
        {% else %}
          <h3 class="span6 splash-signup-text">Learn more about Culination.</h3>
          <form id="splash-signup-form" class="splash-signup-form" action="" method="post">
          {% csrf_token %}
            <input class="span4 splash-signup-email" name="splash-signup-email" type="email" placeholder="email">
            <input class="btn splash-btn" type="submit" value="sign up">
          </form>
        {% endif %}
        </div>
        <div class="span6 splash-login">
          <h3 class="span6">Already have an invitation?</h3>
          
          <form id="login-form" class="login-form" action="{% url account:auth_login %}" method="post">
		  {% csrf_token %}
		  <div class="private-login-input">
			<input name="username"
                   type="email"
                   class="login-input email-input"
                   placeholder="email"
                   value="{{login_form.username.value|default:""}}"
                   />
                   <!--data-validation-engine="validate[required,custom[email]]"
                   data-errormessage-value-missing="Email is required!"
                   data-errormessage-custom-error="Email must be in the format 'user@domain.com'" commenting out error messages for private launch -->
                   
             
			<input name="password"
                   class="login-input password-input"
                   type="password"
                   placeholder="password"
                   />
                   <!-- data-validation-engine="validate[required]"
                   data-errormessage-value-missing="Password is required!" commenting out error messages for private launch -->
    
      <input type="submit" class="btn splash-btn no-margin pull-right" value="login">
		  </div>
      <div class="private-login-errors">
        <div class="private-login-username-errors">
          {{login_form.username.errors}}
        </div>
        <div class="private-login-password-errors">
          {{login_form.password.errors}}
        </div>
        <div class="private-login-other-errors">
          {{login_form.non_field_errors }} 
        </div>  
      </div>
          <input type="hidden" name="next" value="{{login_form.next.value|default:request.get_full_path}}" >
        </form>
          <!--<a class="btn splash-btn" href="./private-login">login</a>-->
        </div>
      </div>
    
  </body>
</html>
