{% load avatar_tags %}
<div id="miniprofile" class="lightbox">
  <div class="row">
    <div class="span10">
      <div id="window-profile">
		<div class="row">
			<h4 class="span4"><strong>{{u.get_full_name}}</strong>'s appetizer profile</h4>
			{% if u.get_profile.professional_chef %}
			<div class="row chef-mini-profile-features">
			  <div class="span4">
				<div class="social-media-icons">
                {% if u.get_profile.facebook %}
                <a href="{{u.profile.facebook}}" target="_blank"><div class="social-media-icon sprite-icons-facebook"></div></a>
                {% endif %}
                {% if u.profile.twitter %}
			    <a href="{{u.profile.twitter}}" target="_blank"><div class="social-media-icon sprite-icons-twitter"></div></a>
                {% endif %}
                {% if u.profile.linkedin %}
			    <a href="{{u.profile.linkedin}}" target="_blank"><div class="social-media-icon sprite-icons-linkedin"></div></a>
                {% endif %}
                {% if u.profile.pinterest %}
			    <a href="{{u.profile.pinterest}}" target="_blank"><div class="social-media-icon sprite-icons-pinterest"></div></a>
                {% endif %}
                {% if u.profile.youtube %}
			    <a href="{{u.profile.youtube}}" target="_blank"><div class="social-media-icon sprite-icons-youtube"></div></a>
                {% endif %}
			    {% if u.profile.googleplus %}
                <a href="{{u.profile.googleplus}}" target="_blank"><div class="social-media-icon sprite-icons-google-plus"></div></a>
                {% endif %}
                {% if u.profile.tumblr %}
			    <a href="{{u.profile.tumblr}}" target="_blank"><div class="social-media-icon sprite-icons-tumblr"></div></a>
					{% endif %}
				</div>
			  </div>

		      <div class="span2 profile-btn">
		        <a href="{% url profile u.id %}" class="btn btn-primary full-profile-link pull-right">
			        full profile
		        </a>
	          </div>
			</div>
			{% endif %}
		</div>

	    <hr />

	    <div class="row">
	      <div class="span2">
	        <div class="profile-pic">
              <img class="loadedavatar" height="80" width="80" src="{% avatar_url u %}">
            </div>
          </div>

          <div class="span8">
	        <p class="mini-profile-description">{{u.get_profile.about}}
	        </p>
	      </div>
	    </div>

		<br />

	    <div class="row">
	      <div class="span5">
	        <p>What <strong>{{u.get_full_name}}</strong> is teaching to cook</p>
	      </div>

	      <!-- <div class="span5"> -->
	      <!--   <p>What <strong>{{u.get_full_name}}</strong> is asking to cook</p> -->
	      <!-- </div> -->
	    </div>

        {% for lesson in u.teaching.all %}
	    {% cycle "True" "" as newrow silent %}
        {% if newrow %}
        <div class="row">
	      <div class="span5">
           {% else %}
          <div class="span5">
               {% endif %}
	          <div class="profile-btn">
	              <a href="{% url lesson_detail lesson.id %}" class="btn btn-secondary btn-profile-link">
		              {{lesson.title}}
		          </a>
		      </div>
          </div>
          {% if not newrow or forloop.last %}
          </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
