{% load avatar_tags %}
<div id="miniprofile">
  <div class="row">
    <div class="span10">
      <div id="window-profile">
	    <div class="row login_info">
	      <h4><strong>{{u.get_full_name}}</strong>'s profile</h4>
	    </div>

	    <hr />

	    <div class="row">
	      <div class="span2">
	        <div class="profile-pic">
              {% avatar u %}
            </div>
          </div>

          <div class="span8">
	        <p class="profile-desc">{{u.get_profile.about}}
	        </p>
	      </div>
	    </div>

	    <hr />

	    <div class="row">
	      <div class="span5">
	        <p>What <strong>{{u.get_full_name}}</strong> is teaching to cook</p>
	      </div>

	      <!-- <div class="span5"> -->
	      <!--   <p>What <strong>{{u.get_full_name}}</strong> is asking to cook</p> -->
	      <!-- </div> -->
	    </div>

	    <hr />

	    <div class="row">
	      <div class="span5">
	        <div class="profile-btn">
	          <a class="btn btn-blue btn-profile-link">
		        chicken tikka masala (gluten-free)
		      </a>
		    </div>

		    <div class="profile-btn">
		      <a class="btn btn-blue btn-profile-link">
		        vegetarian dosas
		      </a>
		    </div>
		    <div class="profile-btn">
		      <a class="btn btn-blue btn-profile-link">
		        chicken tikka masala (gluten-free)
		      </a>
		    </div>
		    <div class="profile-btn">
		      <a href="#" class="see-more-link vertical-align-text">
			    See more...
		      </a>
	        </div>
	      </div>

	      <div class="span5">
	        <div class="profile-btn">
	          <a class="btn btn-blue btn-profile-link">
		        phad thai with green curry
		      </a>
		    </div>
		    <div class="profile-btn">
		      <a class="btn btn-blue btn-profile-link">
		        blue cheese veggie burgers
		      </a>
		    </div>
		    <div class="profile-btn">
		      <a href="#" class="see-more-link vertical-align-text">
			    See more...
		      </a>
	        </div>
	      </div>
	    </div>

	    <hr />

	    <div class="row">
	      <div class="span5">
	        <div class="social-media-icons">
		      <img src="{{STATIC_URL}}img/fb_icon.png" />
		      <img src="{{STATIC_URL}}img/tw_icon.png" />
		      <img src="{{STATIC_URL}}img/gp_icon.png" />
		      <img src="{{STATIC_URL}}img/pin_icon.png" />
	        </div>
	      </div>
	    </div>
      </div>
    </div>
  </div>
</div>
