<div class="">
  <div id="window-profile">
	<div class="row login_info">
	  <h4><strong>[username]</strong>'s profile</h4>
	</div>

	<hr />

	<div class="row">
	  <div class="span2">
	    <div class="profile-pic">
          <img src={{MEDIA_URL}}{{page.home.hero}} />
        </div>
      </div>

      <div class="span8">
	    <p class="profile-desc">I'm an incredible chef and I bring inspired heat to my food and students every day. Life ie so much more delicious when you trncteretencl tne elemente yotfre testing.Let me show you what I mean. Happy Cooking!
	    </p>
	  </div>
	</div>

	<hr />

	<div class="row">
	  <div class="span5">
	    <p>What <strong>[username]</strong> is teaching to cook</p>
	  </div>

	  <div class="span5">
	    <p>What <strong>[username]</strong> is asking to cook</p>
	  </div>
	</div>

	<hr />

	<div class="row">
	  <div class="span5">
	    <div class="profile-btn">
	      <a class="btn btn-blue btn-profile-link">
		    chicken tikka masala (gluten-free)
		  </a>
		</div>

		<div class="profile-btn">
		  <a class="btn btn-blue btn-profile-link">
		    vegetarian dosas
		  </a>
		</div>
		<div class="profile-btn">
		  <a class="btn btn-blue btn-profile-link">
		    chicken tikka masala (gluten-free)
		  </a>
		</div>
		<div class="profile-btn">
		  <a href="#" class="see-more-link vertical-align-text">
			See more...
		  </a>
	    </div>
	  </div>

	  <div class="span5">
	    <div class="profile-btn">
	      <a class="btn btn-blue btn-profile-link">
		    phad thai with green curry
		  </a>
		</div>
		<div class="profile-btn">
		  <a class="btn btn-blue btn-profile-link">
		    blue cheese veggie burgers
		  </a>
		</div>
		<div class="profile-btn">
		  <a href="#" class="see-more-link vertical-align-text">
			See more...
		  </a>
	    </div>
	  </div>
	</div>

	<hr />

	<div class="row">
	  <div class="span5">
	      <div class="social-media-icons">
		  <img src="./media/img/fb_icon" />
		  <img src="./media/img/tw_icon" />
		  <img src="./media/img/gp_icon" />
		  <img src="./media/img/pin_icon" />
	    </div>
	  </div>
	</div>

  </div>
</div>
