{% extends "base.html" %}
{% load avatar_tags %}

{% block content %}

<div class="bordered-row bordered">
  <div class="span6 offset3">
    <div class="row">
	  <div class="span3">
		<h3 class="colored-header">Manage Avatars</h3>
	  </div>
	  <div class="span3">	
		<a class="btn btn-primary btn-save pull-right" href="{% url profile request.user.id %}" >
		Back to profile
		</a>
	  </div>	
    </div>
  </div>
 	
  <div class="span6 offset3" >
	
	<hr />
	
    <p>Your current avatar: </p>
    {% avatar user %}
    {% if not avatars %}
        <p>You do not yet have a local avatar.  Please upload one now.</p>
    {% else %}
        <form method="POST" action="">
          {% csrf_token%}
            <ul>
                {{ primary_avatar_form.as_ul }}
            </ul>
            <input type="submit" value="Choose new Default" />
        </form>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token%}
        <input type="file" name="avatar" value="avatar-image" />
        <input type="submit" class="btn btn-secondary btn-avatar pull-right" value="upload new image">
    </form>
    
    <hr />
    
    <br />
</div>
{% endblock %}
