.request-message {
	font-size: 18px;
	padding: 12px 0px;
	margin-left: 10px;
}

#featuredrequest {
	border-right: 1px solid $border-color;
	margin-left: 19px !important;
	height: 300px;
}

.request-hr {
	margin: 10px -10px 0px -10px !important;
	display: inline-block;
	width: 460px;
}

.request-links {
	padding: 5px 0px;
}

.request {
	height: 100px;
	overflow: hidden;
	margin-left: 10px !important;
	padding: 5px 10px 10px 0px;
	/*border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;*/
}

.request-first {
	border-top: none;
}

.request-last {
	border-bottom: 1px solid $border-color;
}

.featured-request-span {
	margin: 5px 0px 0px 10px !important;	
}

.featured-request-text {
	padding-top: 5px;
}

.request-margin {
	margin-left: -20px;
	height: 10px;
	width: 480px;
	background-color: $border-color;
}

.ask-pot, .attatchedchef {
	padding-top: 12px;
	text-align: right;
}

.request-details-chef {
	display: inline-block;
	padding-top: 5px;
	max-width: 155px;
}

.request-contribute {
	display: inline;
	margin-left: 10px;
}

.request-contribute-input {
	display: inline;
	margin: 0px 10px;
}

.request-contribute-price {
	padding-right: 5px;
	text-align: right;
}

.request-form-field {
	padding-bottom: 5px;
}

.request-form-description textarea {
	height: 70px;
	width: 445px;
}

.request-progress {
    border: 3px solid $gray;
    width: 90%;
}

.request-bar {
    background-color: $primary !important;
    background-image: -moz-linear-gradient(top, $primary, $primary) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($primary), to($primary)) !important;
    background-image: -webkit-linear-gradient(top, $primary, $primary) !important;
    background-image: -o-linear-gradient(top, $primary, $primary) !important;
    background-image: linear-gradient(to bottom, $primary, $primary) !important;
}

.request-form-field label {
	display: block;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

.request-input {
	width: 200px;
}

.request-form-field ul {
	display: inline-block;
	margin: 0px 0px 10px 0px;
}

.request-form-field ul li {
	display: inline-block;
	list-style-type: none !important;
}

.request-form-buttons {
	margin-top: 15px;
}