.request-message {
	font-size: 18px;
	padding: 12px 0px;
}

#featuredrequest {
	border-right: 1px solid $border-color;
	margin-left: 19px !important;
    padding-left: 10px;
	min-height: 740px;
}

.featured-request-signup {
    margin: 10px 0px 0px 10px !important;
}

.featured-request-signup-text {
    display: inline-block;
    margin-top: 8px;
}

.btn-featured-request-signup {
    display: inline;
    margin-left: 10px;
}

.request-hr {
	margin: 10px -10px 0px -10px !important;
	display: inline-block;
	width: 460px;
}

.request-links {
	padding: 5px 0px;
}

.request-links div {
    display: inline-block;
	margin: 8px 10px 0px 0px;
}

.lessonrequest-active div {
    background-color: $border-color;
}
    
.request {
	height: 100px;
	overflow: hidden;
	margin-left: 10px !important;
	padding: 5px 10px 10px 10px;
	/*border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;*/
}

.request-first {
	border-top: none;
}

.request-last {
	/*border-bottom: 1px solid $border-color;*/
}

.arrow-left {
    position: absolute;
    margin-top: 50px;
    margin-left: -31px;
    background-color: $white !important;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid $border-color; 
}

.featured-request-span {
	margin: 5px 0px 0px 10px !important;	
}

.featured-request-text {
	padding-top: 5px;
}

.request-tile-description {
    margin: 0px 20px 10px 0px;
    height: 60px;
    overflow: hidden;
}

.btn-requestsignup:hover {
    cursor: pointer;
}

.request-margin {
	margin-left: -20px;
    padding-left: 10px;
	height: 10px;
	width: 480px;
	background-color: $border-color;
}

.ask-pot, .attatchedchef {
	text-align: right;
	padding-top: 32px;
}

.timetoraise-today {
    color: $pink;
}

.request-details-chef {
	display: inline-block;
	max-width: 155px;
}

.request-contribute {
	display: inline;
	margin-left: 10px;
}

.request-contribute-input {
	display: inline;
	margin: 0px 10px;
}

.request-contribute-price {
	padding-right: 5px;
	text-align: right;
}

.request-form-field {
	padding-bottom: 5px;
}

.request-form-description textarea {
	height: 70px;
	width: 445px;
}

.request-progress {
    border: 3px solid $gray;
    margin: 5px 0px 0px 9px;
    width: 95%;
}

.request-bar {
    background-color: $primary !important;
    background-image: -moz-linear-gradient(top, $primary, $primary) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($primary), to($primary)) !important;
    background-image: -webkit-linear-gradient(top, $primary, $primary) !important;
    background-image: -o-linear-gradient(top, $primary, $primary) !important;
    background-image: linear-gradient(to bottom, $primary, $primary) !important;
}

.request-form-field label {
	display: block;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

.request-input {
	width: 200px;
}

.request-form-field ul {
	display: inline-block;
	margin: 0px 0px 10px 0px;
}

.request-form-field ul li {
	display: inline-block;
	list-style-type: none !important;
}

.request-form-buttons {
	margin-top: 15px;
}