.request-links {
	padding-top: 5px;
}

.request {
	height: 100px;
	overflow: hidden;
	margin-left: 10px !important;
	padding: 5px 10px 10px 0px;
	border-bottom: 1px solid $border-color;
}

.ask-pot, .attatchedchef {
	padding-top: 12px;
	text-align: right;
}