/* Chef Profile */

.chef-profile-location, .chef-links {
	padding-top: 5px;
}

.chef-links > a:first-child {
    padding-right: 20px;
}

.user-photo {
    margin-right: 20px;
}

.user-photo img {
    width: 100%;
}

.social-media {
    display: inline-block;
}

.user-bio {
    font-size: 16px;
}

.chef-specialities-feedback {
    padding-bottom: 20px;
	> div {
        height: 190px;
        overflow: hidden;
    }
}

.testimonial {
	background-color: $lightgray;
    background-repeat:no-repeat;
	display: inline-block;
	height: 130px;
    padding: 10px 0px;
}

.testimonial-text {
	padding: 0px 10px;
    margin: 0px;
    height: 115px;
    overflow: hidden;
}

.testimonial-source {
	margin: 0px;
    padding-right: 10px;
}

.chef-lesson-nav-icon {
	height: 37px;
	width: 37px;
	margin: 5px 20px 0px 0px;
}

.lesson-nav-icon-left {
	margin-top: -7px;
}

.lesson-nav-icon-right {
	margin-top: -1px;
}

.chef-lessons-title, .chef-lessons, .profile-lessons-title, .profile-lessons {
    margin-top: 20px;
}

.chef-lessons-title, .profile-lessons-title {
    padding-top: 0px;
}