.create-lesson-main {
  padding-bottom: 20px;
}

.create-lesson-title h2 {
	margin:	0px;
	height: 25px;
}


.btn-create-step {
  cursor: default;
	width:			130px;
	height:			32px;
	margin-right:	20px;
	text-align:		left;
	line-height:	29px;
	font-size:		30px;
	padding: 		0px 0px 0px 5px;
}

.btn-create-step strong {
	line-height:	32px;
	font-size:		54px;
	padding:		0px;
}

.create-step-text {
	vertical-align: top;
}

.btn-create-step-2 {
	margin: 0px 10px 0px 10px;
}

.dynamic-formset1 .row .span2 select, .dynamic-formset2 .row .span2 select {
	width: 140px !important;
}

.dynamic-formset1 .row .span1 input {
	width: 50px !important;
}

.dynamic-formset1 .row .span2 input {
	width: 130px !important;
}

.dynamic-formset2 .row .span2 input {
	width: 115px !important;
}

.create-lesson-title-step1 h3 {
	margin:	10px 0px;
	height: 32px;
}

.create-lesson-help-btn {
	margin: 15px 20px 0px 0px;
}

.create-lesson-hr {
	margin: 0px;
}

.create-lesson-input-price {
	width: 145px;
}

.create-lesson-input-small {
	width: 175px;
}

.create-lesson-field-small input {
	width: 175px;
}

.create-lesson-input-file {
	width: 280px;
}

.create-lesson-input-title {
	width:	415px;
}

.create-lesson-input-dropdown {
	width:	355px;
}

.create-lesson-input-menu-small {
	width:	185px;
}

.create-lesson-input-menu-mid {
	width:	200px;
}

.create-lesson-input-menu {
	width:	200px;
	height: 110px !important;
}

.create-lesson-input-large {
	width:	415px;
}

.chzn-container-multi {
	width: 185px !important;
}

#createlessondesc > textarea {
	height:	100px !important;
	width: 411px !important;
}

.btn-lesson-file-upload {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0px 0px 10px 0px;
}

.create-lesson-radiobox {
	margin: 0px 0px 13px 0px;
}

.create-lesson-radiobox div:first-child{
	margin: 0px 0px 0px 0px;
}

.create-lesson-2-input-small {
	width: 40px;
}

.create-lesson-2-input-mid {
	width: 120px;
}

#lessontype ul {
	margin: 0px;
	padding-bottom: 14px;
}

#lessontype li {
	list-style-type: none !important;
	width: 200px !important;
}

#lessontype li, label, input {
	display: inline-block;
}

#lessontype label {
	@extend .radio;
}

.create-lesson-2-input-dropdown-small {
	width: 55px;
}

.create-lesson-2-input-dropdown-mid {
	width: 135px;
}


.btn-add {
	height: 20px;
	width: 20px;
	padding: 3px;
	font-size: 36px;
	margin-bottom: 10px;
}

.create-lesson-add-ingredient {
	margin: 15px 0px 0px 0px;
}

.create-lesson-add-tool {
	margin: 15px 0px 0px 0px;
}

.create-lesson-add-step {
	margin: 15px 0px 0px 0px;
}

.create-lesson-question {
	width: 100%;
}

.main {
  counter-reset: inc_steps;
}

.step_counter {
  counter-increment: inc_steps;
  }

.step_counter:after {
    content: counter(inc_steps);
}