.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
	height: 40px;
    margin: 20px 0px 0px 0px;
    color: white !important;
	background-color: $black;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.00) !important;
    -webkit-font-smoothing: antialiased;
    background-image: -khtml-gradient(linear, left top, left bottom, from($black), to($black));
    background-image: -moz-linear-gradient(top, $black, $black);
    background-image: -ms-linear-gradient(top, $black, $black);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black), color-stop(100%, $black));
    background-image: -webkit-linear-gradient(top, $black, $black);
    background-image: -o-linear-gradient(top, $black, $black);
    background-image: linear-gradient($black, $black);
}

.footer-left {
    display: inline-block;
    margin: 10px 0px 10px 0px;
}

.footer-text {
	font-size: 16px !important;
    padding-top: 3px;
}

.footer-links {
	margin: 10px 20px 0px 0px;
}

.footer-links > a {
	padding: 0px 0px 0px 20px !important;
}