.homelinks > div:nth-child(2) {
    margin-left: 40px;
}

.block-link {
    position: relative;
    width: 100%;
}

.block-link a {
    /*margin-top: 10px;
    margin-bottom: 20px;
    width: 85%;*/
}

.hr-main {
	margin: 10px 0px !important;
	border-top: none !important;
}

.border-notop {
    border-top: 0px !important;
}

.main-movie-img {
	width: 99%;
    height: auto;
	border: solid 3px transparent;
}

.main-movie-img:hover {
	border: solid 3px #4f4f4f;
	cursor: pointer;
}

.main-movie-video {
	width: 95%;
}

.block-body* a:hover {
    text-decoration: none;
}

.home-hr {
    margin: 20px 0px 0px 0px;
}

.block-image {
    width: 95%;
}    

.block-image-text {
    font-family: 'MuseoSans500', Fallback, serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 93%;
    font-size: 30px;
    line-height: 36px !important;
    padding: 5px 0px 5px 10px;
    margin-top: -46px;
}    

.block-body p {
    padding-top: 10px;
    width: 95%;
}