.row {
    margin-left: -22px;
    margin-right: -22px;
    margin-bottom: -1px;
}

.main{
    margin-top: 20px !important;
    h3 {
        line-height: 25px;
    }
    .span6 {
        padding-top: 10px;

    }
}

.main .hero-unit{
    background-color: #fff !important;
}

.block-link a {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 85%;
}
border-notop {
    border-top: 0px !important;
}