.main{
    padding: 20px 0px;
    h3 {
        line-height: 25px;
    }
}

.main .hero-unit{
    background-color: #fff !important;
}

.block-link a {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 85%;
}

.hr-main {
	margin: 10px 0px !important;
	border-top: none !important;
}

.border-notop {
    border-top: 0px !important;
}

.main-movie-img {
	width: 440px !important;
	height: 250px !important;
	border: solid 3px transparent;
}

.main-movie-img:hover {
	border: solid 3px #4f4f4f;
	cursor: pointer;
}