.sprite-icons-login,
.sprite-icons-my,
.sprite-icons-tutor,
.sprite-icons-learn,
.sprite-icons-signup,
.sprite-icons-ask,
.sprite-icons-about{background-image:url('../img/icons.png');background-repeat:no-repeat}

.sprite-icons-login:hover{background-position:0px 0px;width:38px;height:19px;}
.sprite-icons-login:active{background-position:0px -19px;width:38px;height:19px;}
.sprite-icons-login{background-position:-38px 0px;width:38px;height:19px;}
.sprite-icons-my:hover{background-position:-38px -19px;width:34px;height:18px;}
.sprite-icons-my:active{background-position:0px -38px;width:34px;height:18px;}
.sprite-icons-my{background-position:-34px -38px;width:34px;height:18px;}
.sprite-icons-tutor:hover{background-position:-76px 0px;width:29px;height:27px;}
.sprite-icons-tutor:active{background-position:-76px -27px;width:29px;height:27px;}
.sprite-icons-tutor{background-position:0px -56px;width:29px;height:27px;}
.sprite-icons-learn:hover{background-position:-29px -56px;width:15px;height:27px;}
.sprite-icons-learn:active{background-position:-44px -56px;width:15px;height:27px;}
.sprite-icons-learn{background-position:-59px -56px;width:16px;height:27px;}
.sprite-icons-signup:hover{background-position:-75px -56px;width:26px;height:26px;}
.sprite-icons-signup:active{background-position:-105px 0px;width:26px;height:26px;}
.sprite-icons-signup{background-position:-105px -26px;width:26px;height:26px;}
.sprite-icons-ask:hover{background-position:-105px -52px;width:26px;height:23px;}
.sprite-icons-ask:active{background-position:0px -83px;width:26px;height:23px;}
.sprite-icons-ask{background-position:-26px -83px;width:26px;height:23px;}
.sprite-icons-about:hover{background-position:-131px 0px;width:26px;height:26px;}
.sprite-icons-about:active{background-position:-131px -26px;width:26px;height:26px;}
.sprite-icons-about{background-position:-131px -52px;width:26px;height:26px;}

.box:hover {
  .sprite-icons-tutor{background-position:-76px -27px;width:29px;height:27px;}
  .sprite-icons-learn{background-position:-44px -56px;width:15px;height:27px;}
  .sprite-icons-about{background-position:-131px -26px;width:26px;height:26px;}
  .sprite-icons-signup{background-position:-105px 0px;width:26px;height:26px;}
  .sprite-icons-login{background-position:0px -19px;width:38px;height:19px;}
}




