.lesson {
    margin-left: 10px !important;
	padding-right: 8px;
    padding-bottom: 20px;
    hr {
        margin: 5px 0px;
    }
}

.lesson-title {
    white-space: nowrap;
}

.lesson-title a {
	cursor: pointer;
    color: $green !important;
    text-decoration: none;
}

.lesson-title a:hover {
    color: $green-active !important;
}

.lesson:first-child {
    border-right: 1px solid $border-color;
}

.lesson-author {
    text-align:right
}

.recipe-info{
    margin: 0px;
    li {
        list-style-type:none;
        font-weight: bold;
    }
}

#lesson-photo img {
	width: 360px;
}

.lesson-list {
	margin: 0px !important;
}

.lesson-list li {
	list-style-type: none !important;
	padding-bottom: 10px;
}

.lesson-list li img {
	list-style-type: none !important;
	padding-right: 10px;
}

#lesson-list-items {
	padding-bottom: 10px;
}

#lesson-video-background {
	background-color: black;
}

#lesson-wrapper {
    position: 		absolute;
    top: 			88px;
    width: 			962px;
    height: 		400px;
}

.lesson-wrapper-overlay {
	background-color: rgba(0, 0, 0, 0.7);
}

#step_title {
	font-size: 1.0em;
	color: #02A64F !important;
	padding-right: 5px;
}

#step_text {
	display: inline-block;
	font-size: 1.0em !important;
	color: white !important;
	padding: 5px !important;
}

.lesson-panel {
	position: absolute;
	top: 135px;
	width: 297px;
	height: 335px;
}

#ingredient {
	background-image: url('../img/lesson.oval.ingredients.png');
	background-repeat: no-repeat;
}

#tools {
	background-image: url('../img/lesson.oval.tools.png');
	background-repeat: no-repeat;
	background-position: right;
}

.panel-item {
	 background-color: rgba(255, 255, 255, 0.7);
	 height:28px;
	 width: 220px;
     cursor: pointer;
}

.ingredient {

}

.tool {
	float: right;
}

.lesson-icon-text {
	position: absolute;
	padding: 3px;
	height: 28px;
	width: 170px;
	color: black !important;
}

.lesson-icon-ingredients-text {
	margin: 0px 0px 0px 30px !important;
	text-align: right;
}

.lesson-icon-tools-text {
	margin: 3px 0px 0px 10px !important;
	text-align: left;
}

.lesson-icon-circle {
	border-radius: 50%;
	height:36px;
	width: 36px;
	background-color: #02A64F;
	position: absolute;
}

.lesson-icon-circle-ingredients {
	margin: -4px 0px 0px -8px;
}

.lesson-icon-circle-tools {
	margin: -4px 0px 0px 192px;
}

.lessonimages {
	position: relative;
	padding: 13px 4px;
}

.ingredient1 {
	margin: 20px 0px 0px 15px;
}

.ingredient2 {
	margin: 15px 0px 0px 30px;
}

.ingredient3 {
	margin: 15px 0px 0px 40px;
}

.ingredient4 {
	margin: 15px 0px 0px 50px;
}

.ingredient5 {
	margin: 15px 0px 0px 40px;
}

.ingredient6 {
	margin: 15px 0px 0px 30px;
}

.ingredient7 {
	margin: 15px 0px 0px 15px;
}

.tool1 {
	margin: 20px 0px 0px 60px;
}

.tool2 {
	margin: 15px 0px 0px 45px;
}

.tool3 {
	margin: 15px 0px 0px 35px;
}

.tool4 {
	margin: 15px 0px 0px 25px;
}

.tool5 {
	margin: 15px 0px 0px 35px;
}

.tool6 {
	margin: 15px 0px 0px 45px;
}

.tool7 {
	margin: 15px 0px 0px 60px;
}

.starcontainer {
    height: 35px;
    width: 30px;
    display: inline-block;
    overflow: auto;
}