.lesson {
    margin-left: 10px !important;
	padding-right: 8px;
    padding-bottom: 20px;
    hr {
        margin: 5px 0px;
    }
}

.lesson-title {
    white-space: nowrap;
}

.lesson-title a {
	cursor: pointer;
    color: $green !important;
    text-decoration: none;
}

.lesson-title a:hover {
    color: $green-active !important;
}

.lesson:first-child {
    border-right: 1px solid $border-color;
}

.lesson-author {
    text-align:right
}

.recipe-info{
    margin: 0px;
    li {
        list-style-type:none;
        font-weight: bold;
    }
}

#lesson-photo img {
	width: 360px;
}

.lesson-list {
	margin: 0px !important;
}

.lesson-list li {
	list-style-type: none !important;	
	padding-bottom: 10px;
}

.lesson-list li img {
	list-style-type: none !important;	
	padding-right: 10px;
}

#lesson-list-items {
	padding-bottom: 10px;
}
