#login {

    display: table
}

.login_info {
	h3, h4 {
	    color:	$primary;
	    margin-left: 0px;
	}
}

.login-input {
	width: 265px;
}

.btn-login {
	width: 75px !important;
	margin-right: 20px;
}

.btn-login-span {
	margin-left: 40px;
}

.login-actions {
	margin-top:	10px;
}

.login-text{
    margin-top: 20px;
}

.login-btn-text {
	margin-top:	5px;
}