#login {

    display: table
}

.login_info {
	h3, h4 {
	    color:	$green;
	    margin-left: 20px;
	}
}

.login-input {
	width: 285px;
}

.btn-login {
	width: 75px !important;
}

.btn-login-span {
	margin-left: 40px;
}

.vertical-align-text {
	vertical-align: middle;
}

.login-actions {
	margin-top:	10px;
}