.btn-profile {
	width:			415px;
	height:			32px;
	margin-right:	20px;
	text-align:		left;
	line-height:	32px;
	font-size:		30px;
}

.profile-hr {
	margin: 20px 0px 0px 0px;
}

.profile-input {
	width:			415px;
}

.profile-input-desc {
	height:			200px !important;
}

.btn-user-skill {
	width:			125px;
	margin:			0px 10px 10px 0px;
}

.btn-profile-action {
	width: 200px;
}