.btn-profile {
	width:			415px;
	height:			32px;
	margin-right:	20px;
	text-align:		left;
	line-height:	32px;
	font-size:		30px;
}

.profile-hr {
	margin: 20px 0px 0px 0px;
}

.profile-input {
	width:			415px;
}

.profile-input-desc {
	height:			100px !important;
}

.btn-user-skill {
	width:			95px;
	margin:			0px 10px 10px 0px;
}

.btn-profile-action {
	width: 200px !important;
}

btn-avatar {
	margin-right: 20px;
}

.profile-lessons-title > div {
	background-color: $white;
    padding: 10px 0px 10px 20px;
}

.profile-lessons-title div:nth-child(1) {
    margin-left: 0px;
}

.mylessons-title h4 {
    display: inline-block;
}