.chef-mini-profile-features {
	margin-top: 5px;
}

.chef-mini-profile-features .social-media-icons {
    padding-top: 10px;
}

.btn-profile-link {
	width: 300px;
	margin-bottom: 10px;
}

.mini-profile-description {
	font-size: 18px;
	font-weight: 150;
	line-height: 24px;
}