
/* Navbar */

$nav-height: 55px;
$nav-padding: 5px;

.nav li a {
	padding: 0px !important;
	text-shadow: none !important;
}

.box  {
    height: $nav-height;
    width: $nav-height;
    padding: $nav-padding;
    border-left: 1px $border-color solid;
    margin-left: 0px !important;
    cursor: pointer;
}

.box a {
	color: $black !important;
}

.box:hover {
	a {color: $white !important;}
}

.box-login {
	padding-top: 12px;
	height: 48px;
}

.box-logout {
	padding-top: 6px;
	height: 54px;
}

.box-my {
	padding-top: 12px;
	height: 48px;
	width: 90px;
}

.box-ask {
	padding-top: 8px;
	height: 52px;
	width: 65px;
}

.box:hover {
    background-color: $green;
    h5 {color:	white;}
}

.box h5  {
	display: inline-block;
	width:100%;
    font-weight: bold;
    text-align: center;
    color: $black;
}

.nav-icon  {
    margin-left: auto;
    margin-right: auto;
}



/*  overwriting some of the base bootstrap */
.fixed-top {
	width: 960px !important;
	margin-top: -10px;
	z-index: 1;
}

.navbar .divider-vertical {
    height: 100% !important;
    border: 0px !important;
    width: 2px;
    margin-right: 5px;
}

.nav  {
    height: $nav-height + $nav-padding * 2 !important;
}

.navbar {
    border: 1px $border-color solid;
    margin: 10px 0px 40px -2px !important;
    color: black !important;
    height: 100%;
	background-color: white;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.00) !important;
    -webkit-font-smoothing: antialiased;
    background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(white));
    background-image: -moz-linear-gradient(top, white, white);
    background-image: -ms-linear-gradient(top, white, white);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, white));
    background-image: -webkit-linear-gradient(top, white, white);
    background-image: -o-linear-gradient(top, white, white);
    background-image: linear-gradient(white, white);
}

.navbar-inner {
    height: 100%;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065) !important;
    border-radius: 0px !important;
    border: 0px !important;
    background-color: white;
    /* for hover of login */
    padding-right: 0px !important;
    background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(white));
    background-image: -moz-linear-gradient(top, white, white);
    background-image: -ms-linear-gradient(top, white, white);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, white));
    background-image: -webkit-linear-gradient(top, white, white);
    background-image: -o-linear-gradient(top, white, white);
    background-image: linear-gradient(white, white);
    filter: none;
    -ms-filter: none;
}

.navbar .brand {
    position: absolute;
	padding: 0px;
	margin: -1px 0px 7px 20px !important;
}

.navbar-logo {
	height: 108px;
    width: 72px;
}



