@import "bootstrap";

/* Main Culination Styling */

@font-face {
    font-family: 'MuseoSans500';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans700';
    src: url('../fonts/museosans-700-webfont.eot');
    src: url('../fonts/museosans-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-700-webfont.woff') format('woff'),
         url('../fonts/museosans-700-webfont.ttf') format('truetype'),
         url('../fonts/museosans-700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LubalinGraphDemi';
    src: url('../fonts/lubalingraphitctot-demcon-webfont.eot');
    src: url('../fonts/lubalingraphitctot-demcon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lubalingraphitctot-demcon-webfont.woff') format('woff'),
         url('../fonts/lubalingraphitctot-demcon-webfont.ttf') format('truetype'),
         url('../fonts/lubalingraphitctot-demcon-webfont.svg#lubalin_graph_itc_t_otdemiCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

$black					        :				  #333333;
$white                  :         #fff;
$primary                :         #57264f;
$primary-active         :         rgba(87,38,79,0.6);
$secondary				      :				  #60C4AF;
$secondary-active		    :				  rgba(96,196,175,0.6);
$tertiary               :         #C85838;
$tertiary-active        :         rgba(200,88,56,0.6);
$request                :         #95CFAD;

$green                  :         #01a64f;
$green-active           :         #028e44;
$blue					          :				  #4ba5ff;
$blue-active			      :				  #21a1c9;

$gray					          :				  #e4e4e4;
$lightgray				      :				  #cacaca;
$darkgray				        :				  #666666;
$pink					          :				  #ff7474;
$background             :         #ececec;
$border-color           :         $lightgray;

body {
  background-color: $background !important;
  line-height: 115% !important;
  font-family: 'MuseoSans500', Fallback, sans-serif;
  hr {
    margin: 10px 0;
  }
}

.container, .content {
    width: 980px;
}

.main{
    width: 970px;
    margin-left: 5px;
    padding-top: 20px;
    background-color: $white;
    h3 {
        line-height: 25px;
    }
}

.bordered{
    background-color: $white;
    border: 1px solid $border-color;
}

.bordered-main {
    background-color: $white;
    border: 1px solid $border-color;
    width: 968px;
    margin-left: 5px;
    h3 {
        line-height: 25px;
    }
}
.bordered-row {
    @extend .row;
    margin-left: -22px;
    margin-bottom: -1px;
}

@mixin colored-button($color,$border-color:$color,$text-color:white){
    background-color: $color !important;
    background-repeat: repeat-x;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color', endColorstr='$color');*/
    -ms-filter: none;
    filter: none;
    background-image: -khtml-gradient(linear, left top, left bottom, from($color), to($color));
    background-image: -moz-linear-gradient(top, $color, $color);
    background-image: -ms-linear-gradient(top, $color, $color);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color), color-stop(100%, $color));
    background-image: -webkit-linear-gradient(top, $color, $color);
    background-image: -o-linear-gradient(top, $color, $color);
    background-image: linear-gradient($color, $color);
    border: 1px solid $border-color !important;
    color: $text-color !important;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.00) !important;
    -webkit-font-smoothing: antialiased;
    border-radius: 0px !important;
    font-weight: bold;
    background-position: 0% 0%;
}

.no-display {
	 display: none;
}

.primary {
    color: $primary;
}

.primary:hover {
    color: $primary-active !important;
	text-decoration: none;
}

.secondary {
    color: $secondary !important;
}

.secondary:hover {
    color: $secondary-active !important;
    text-decoration: none;
}

.tertiary {
    color: $tertiary;
}

.tertiary:hover {
    color: $tertiary-active;
    text-decoration: none;
}

.btn-primary {
    @include colored-button($primary)
}

.btn-primary:hover{
	@include colored-button($primary-active,$primary-active,$white)
}

.btn-primary.pull-right, .btn-tertiary.pull-right {
    margin-right: 20px;
}

.btn-secondary {
    @include colored-button($secondary)
}

.btn-secondary:hover{
	@include colored-button($secondary-active,$secondary-active,$white)
}

.btn-tertiary {
    @include colored-button($tertiary)
}

.btn-tertiary:hover{
	@include colored-button($tertiary-active,$tertiary-active,$white)
}

.btn-clearsecondary {
    @include colored-button($white,$secondary,$secondary)
 }

.btn-clearsecondary:hover{
	@include colored-button($secondary,$secondary,$white)
}

.green {
    color: $green;
}

.green:hover {
    color: $green-active !important;
	text-decoration: none;
}

.blue {
    color: $blue !important;
}

.blue:hover {
    color: $blue-active !important;
    text-decoration: none;
}

.btn-green {
    @include colored-button($green)
}

.btn-green:hover{
	@include colored-button($green-active,$green-active,$white)
}

.btn-blue {
    @include colored-button($blue)
 }

.btn-blue:hover{
	@include colored-button($blue-active,$blue-active,$white)
}

.btn-clearblue {
    @include colored-button($white,$blue-active,$blue-active)
 }

.btn-clearblue:hover{
	@include colored-button($blue,$blue,$white)
}

.btn-gray {
	@include colored-button($white,lightGray,$black)
}

.btn-gray:hover {
	@include colored-button(lightGray,lightGray,$black)
}

.btn-lightgray {
	@include colored-button($lightgray,$lightgray,$white)
}

.btn-lightgray:hover {
	@include colored-button($darkgray,$darkgray,$white)
}

.btn-darkgray {
	@include colored-button($darkgray,$darkgray,$white)
}

.btn-white {
    @include colored-button($white,$gray,$black)
 }

.btn-white:hover {
    @include colored-button($tertiary-active,$tertiary-active,$white)
 }

.btn-tags {
	margin-bottom: 5px;
	border-radius: 4px !important;
}

.btn-tags:hover, .btn-tags:active {
	border-radius: 4px !important;
}

.btn-save {
	margin-right:	20px;
	margin-top:		5px;
}

.green {
    color: $green;
}

a.green:hover {
	color: $green-active !important;
	text-decoration: none !important;
}

.colored_header {
	h3, h4 {
	color:	$black;
	}
}
input[type="submit"]{
    box-sizing: content-box;
}

.vertical-align {
	vertical-align: top;
}

.right-padding {
	padding-right: 20px;
}

.no-margin {
	margin: 0px !important;
}

.errorlist {
	@extend .alert;
	@extend .alert-error;
	list-style-type: none;
	width: 250px;
	margin-left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.lightbox-hr {
    margin: 10px 0px !important;
}

.testimonial, .block-quote {
	height: 70px;
}

.block-quote-right {
	margin: 0px;
	font-style: italic;
}

textarea {
	resize: none;
}

.loadedavatar {
    height: 80px;
}
.goldstar{
     content:url(images/star_on.png);
}
.whitestar{
    content:url(images/star_off.png);
}

.pull-left {
    float: left;
}

.social-media-icons {
    display: inline-block;
    margin-top: -10px;
}

.social-media-icons a:hover {
	text-decoration: none;
}

.social-media-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
}

@import "jquery-ui";
@import "colorbox";
@import "local_navbar";
@import "footer";
@import "icons";
@import "home";
@import "about";
@import "lessons";
@import "login";
@import "signup";
@import "wprofile";
@import "myprofile";
@import "createlesson";
@import "chefprofile";
@import "ask";

@import "datepicker";
@import "validationEngine.jquery";
@import "chosen";
