@import "bootstrap";

$green                  :                 #01a64f;
$blue					:				  #4ba5ff;
$background             :                 #eeeeee;
/********************************************************/
/* $btnBackground          :                 $green;    */
/* $btnBackgroundHighlight	:                 $green;   */
/********************************************************/
$border-color           :                 lightGray;


@mixin colored-button($color){
    background-color: $color !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$color", endColorstr="$color");
    background-image: -khtml-gradient(linear, left top, left bottom, from($color), to($color));
    background-image: -moz-linear-gradient(top, $color, $color);
    background-image: -ms-linear-gradient(top, $color, $color);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color), color-stop(100%, $color));
    background-image: -webkit-linear-gradient(top, $color, $color);
    background-image: -o-linear-gradient(top, $color, $color);
    background-image: linear-gradient($color, $color);
    border: 0px !important;
    color: #fff !important;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.00) !important;
    -webkit-font-smoothing: antialiased;
    border-radius: 0px !important;
    font-weight: bold;
}
.no-display {
	display: none;
}

.green {
    color: $green;
}



.btn-green {
    @include colored-button($green)
}
.btn-green:hover{
	background-color:	#4ba5ff;
	/*
    border: 1px solid black !important;
    padding: 3px 13px !important;
    */
}

.btn-blue {
    @include colored-button($blue)
 }

.btn-clearblue {
    @include colored-button($white)
 }

.btn-clearblue:hover{
	background-color:	#4ba5ff;
	color:  #fff !important;
}

.btn-white {
  background-color: white !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="white", endColorstr="white");
  background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(white, white);
  border: 0px !important;
  color: #fff !important;
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0.00) !important;
  -webkit-font-smoothing: antialiased;
  border-radius: 0px !important;
  font-weight: bold;
 }

body {
  background-color: $background !important;
}

.bordered{
    background-color: #fff;
    border: 1px solid $border-color;
}

.green {
    color: $green;
}

.bordered-row {
    @extend .row;
    margin-left: -22px;
    margin-bottom: -1px;
}





@import "local_navbar";
@import "home";
@import "colorbox";
@import "about";
@import "lessons";
@import "login";
@import "signup";
@import "wprofile";
